/*
API REST FactPulse

 API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ProcessingEndpointsUnifisAPIService ProcessingEndpointsUnifisAPI service
type ProcessingEndpointsUnifisAPIService service

type ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest struct {
	ctx context.Context
	ApiService *ProcessingEndpointsUnifisAPIService
	soumettreFactureCompleteRequest *SoumettreFactureCompleteRequest
}

func (r ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest) SoumettreFactureCompleteRequest(soumettreFactureCompleteRequest SoumettreFactureCompleteRequest) ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest {
	r.soumettreFactureCompleteRequest = &soumettreFactureCompleteRequest
	return r
}

func (r ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest) Execute() (*SoumettreFactureCompleteResponse, *http.Response, error) {
	return r.ApiService.SoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostExecute(r)
}

/*
SoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost Soumettre une facture complète (génération + signature + soumission)

Endpoint unifié pour soumettre une facture complète vers différentes destinations.

    **Workflow automatisé :**
    1. **Auto-enrichissement** (optionnel) : récupère les données via APIs publiques et Chorus Pro/AFNOR
    2. **Génération PDF Factur-X** : crée un PDF/A-3 avec XML embarqué
    3. **Signature électronique** (optionnelle) : signe le PDF avec un certificat
    4. **Soumission** : envoie vers la destination choisie (Chorus Pro ou AFNOR PDP)

    **Destinations supportées :**
    - **Chorus Pro** : plateforme B2G française (factures vers secteur public)
    - **AFNOR PDP** : Plateformes de Dématérialisation Partenaires

    **Credentials de destination - 2 modes disponibles :**

    **Mode 1 - Récupération via JWT (recommandé) :**
    - Les credentials sont récupérés automatiquement via le `client_uid` du JWT
    - Ne pas fournir le champ `credentials` dans `destination`
    - Architecture 0-trust : aucun secret dans le payload
    - Exemple : `"destination": {"type": "chorus_pro"}`

    **Mode 2 - Credentials dans le payload :**
    - Fournir les credentials directement dans le payload
    - Utile pour tests ou intégrations tierces
    - Exemple : `"destination": {"type": "chorus_pro", "credentials": {...}}`


    **Signature électronique (optionnelle) - 2 modes disponibles :**

    **Mode 1 - Certificat stocké (recommandé) :**
    - Le certificat est récupéré automatiquement via le `client_uid` du JWT
    - Aucune clé à fournir dans le payload
    - Signature PAdES-B-LT avec horodatage (conforme eIDAS)
    - Exemple : `"signature": {"raison": "Conformité Factur-X"}`

    **Mode 2 - Clés dans le payload (pour tests) :**
    - Fournir `key_pem` et `cert_pem` directement
    - Format PEM accepté : brut ou base64
    - Utile pour tests ou cas spéciaux sans certificat stocké
    - Exemple : `"signature": {"key_pem": "-----BEGIN...", "cert_pem": "-----BEGIN..."}`

    Si `key_pem` et `cert_pem` sont fournis → Mode 2
    Sinon → Mode 1 (certificat récupéré via `client_uid`)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest
*/
func (a *ProcessingEndpointsUnifisAPIService) SoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost(ctx context.Context) ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest {
	return ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SoumettreFactureCompleteResponse
func (a *ProcessingEndpointsUnifisAPIService) SoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostExecute(r ApiSoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePostRequest) (*SoumettreFactureCompleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SoumettreFactureCompleteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessingEndpointsUnifisAPIService.SoumettreFactureCompleteApiV1TraitementFacturesSoumettreCompletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/traitement/factures/soumettre-complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.soumettreFactureCompleteRequest == nil {
		return localVarReturnValue, nil, reportError("soumettreFactureCompleteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.soumettreFactureCompleteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest struct {
	ctx context.Context
	ApiService *ProcessingEndpointsUnifisAPIService
	soumettreFactureCompleteRequest *SoumettreFactureCompleteRequest
}

func (r ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest) SoumettreFactureCompleteRequest(soumettreFactureCompleteRequest SoumettreFactureCompleteRequest) ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest {
	r.soumettreFactureCompleteRequest = &soumettreFactureCompleteRequest
	return r
}

func (r ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest) Execute() (*ReponseTache, *http.Response, error) {
	return r.ApiService.SoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostExecute(r)
}

/*
SoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost Soumettre une facture complète (asynchrone avec Celery)

Version asynchrone de l'endpoint `/factures/soumettre-complete` utilisant Celery pour le traitement en arrière-plan.

    **Workflow automatisé (identique à la version synchrone) :**
    1. **Auto-enrichissement** (optionnel) : récupère les données via APIs publiques et Chorus Pro/AFNOR
    2. **Génération PDF Factur-X** : crée un PDF/A-3 avec XML embarqué
    3. **Signature électronique** (optionnelle) : signe le PDF avec un certificat
    4. **Soumission** : envoie vers la destination choisie (Chorus Pro ou AFNOR PDP)

    **Destinations supportées :**
    - **Chorus Pro** : plateforme B2G française (factures vers secteur public)
    - **AFNOR PDP** : Plateformes de Dématérialisation Partenaires

    **Différences avec la version synchrone :**
    - ✅ **Non-bloquant** : Retourne immédiatement un `id_tache` (HTTP 202 Accepted)
    - ✅ **Traitement en arrière-plan** : La facture est traitée par un worker Celery
    - ✅ **Suivi d'avancement** : Utilisez `/taches/{id_tache}/statut` pour suivre le statut
    - ✅ **Idéal pour gros volumes** : Permet de traiter de nombreuses factures en parallèle

    **Comment utiliser :**
    1. **Soumission** : Appelez cet endpoint avec vos données de facture
    2. **Retour immédiat** : Vous recevez un `id_tache` (ex: "abc123-def456")
    3. **Suivi** : Appelez `/taches/{id_tache}/statut` pour vérifier l'avancement
    4. **Résultat** : Quand `statut = "SUCCESS"`, le champ `resultat` contient la réponse complète

    **Credentials et signature** : Mêmes modes que la version synchrone (JWT ou payload).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest
*/
func (a *ProcessingEndpointsUnifisAPIService) SoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost(ctx context.Context) ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest {
	return ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReponseTache
func (a *ProcessingEndpointsUnifisAPIService) SoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostExecute(r ApiSoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPostRequest) (*ReponseTache, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReponseTache
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessingEndpointsUnifisAPIService.SoumettreFactureCompleteAsyncApiV1TraitementFacturesSoumettreCompleteAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/traitement/factures/soumettre-complete-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.soumettreFactureCompleteRequest == nil {
		return localVarReturnValue, nil, reportError("soumettreFactureCompleteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.soumettreFactureCompleteRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
