/*
FactPulse REST API

 REST API for electronic invoicing in France: Factur-X (CII), UBL 2.1, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Invoice Generation - **Formats**: CII XML, UBL 2.1 XML, or Factur-X PDF/A-3 - **Profiles** (CII/PDF): MINIMUM, BASIC, EN16931, EXTENDED - **UBL**: Always EN16931 compliant - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT), UBL 2.1 (OASIS) - **Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

API version: 1.0.0
Contact: contact@factpulse.fr
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// FacturXValidationAPIService FacturXValidationAPI service
type FacturXValidationAPIService service

type ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest struct {
	ctx context.Context
	ApiService *FacturXValidationAPIService
	pdfFile *os.File
	profile *APIProfile
	useVerapdf *bool
	skipBrFr *bool
}

// Factur-X PDF file to validate (.pdf format).
func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) PdfFile(pdfFile *os.File) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) Profile(profile APIProfile) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.profile = &profile
	return r
}

// Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation.
func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) UseVerapdf(useVerapdf bool) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.useVerapdf = &useVerapdf
	return r
}

func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) SkipBrFr(skipBrFr bool) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.skipBrFr = &skipBrFr
	return r
}

func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) Execute() (*PDFValidationResultAPI, *http.Response, error) {
	return r.ApiService.ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostExecute(r)
}

/*
ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPost Validate a complete Factur-X PDF

Validates a complete Factur-X PDF according to European and French standards.

## Applied validation standards

- **EN 16931**: European semantic standard (directive 2014/55/EU)
- **ISO 19005-3** (PDF/A-3): Long-term electronic archiving
- **Factur-X / ZUGFeRD**: Franco-German specification
- **Schematron**: XML business rules validation
- **eIDAS**: European regulation on electronic identification (signatures)

## Checks performed

### 1. Factur-X XML extraction and validation
**Checks performed:**
- Presence of embedded XML file (`factur-x.xml` or `zugferd-invoice.xml`)
- Automatic profile detection (MINIMUM, BASIC, EN16931, EXTENDED)
- XML parsing with UTF-8 validation
- GuidelineSpecifiedDocumentContextParameter/ID extraction

**Schematron validation:**
- Business rules for detected profile (MINIMUM: 45 rules, EN16931: 178 rules)
- Cardinality of required elements
- Calculation consistency (net, VAT, gross amounts, discounts)
- Identifier formats (SIRET, intra-EU VAT, IBAN)
- Standardized codes (ISO country codes, UN/ECE units, VAT codes)

**What is verified:**
- ✅ XML structure conforming to Cross Industry Invoice XSD
- ✅ Correct UN/CEFACT namespace
- ✅ European business rules (BR-xx)
- ✅ French-specific rules (FR-xx)

### 2. PDF/A-3 compliance
**Basic validation (metadata):**
- Presence of `/Type` field set to `Catalog`
- Metadata `pdfaid:part` = 3 (PDF/A-3)
- Metadata `pdfaid:conformance` = B or U
- PDF version >= 1.4

**Strict VeraPDF validation (if use_verapdf=True):**
- 146+ ISO 19005-3 rules (PDF/A-3B)
- Absence of forbidden content (JavaScript, multimedia, dynamic forms)
- Correctly embedded fonts and subsets
- Compliant color spaces (sRGB, DeviceGray)
- Valid file structure (cross-reference table)
- XMP metadata conforming to ISO 16684-1

**What is verified:**
- ✅ Long-term archivable file (20+ years)
- ✅ Guaranteed readability (embedded fonts)
- ✅ Legal compliance (France, Germany, EU)

### 3. XMP metadata (eXtensible Metadata Platform)
**Checks performed:**
- Presence of `<?xpacket>` block with XMP metadata
- `fx:` namespace for Factur-X: `urn:factur-x:pdfa:CrossIndustryDocument:invoice:1p0#`
- Required Factur-X fields:
  - `fx:ConformanceLevel`: Profile (MINIMUM, BASIC, EN16931, EXTENDED)
  - `fx:DocumentFileName`: Embedded XML name
  - `fx:DocumentType`: "INVOICE"
  - `fx:Version`: Factur-X version (1.0.07)

**What is verified:**
- ✅ Metadata conforming to ISO 16684-1
- ✅ Correct declared Factur-X profile
- ✅ Supported Factur-X version

### 4. Electronic signatures
**Detection and analysis:**
- Presence of `/Sig` dictionaries in PDF
- Signature type: PAdES (PDF Advanced Electronic Signature)
- Information extraction:
  - Signer name (`/Name`)
  - Signing date (`/M`)
  - Signature reason (`/Reason`)
  - Signature location (`/Location`)
  - Signature type (approval, certification)

**What is verified:**
- ✅ Presence of signatures or seals
- ✅ Number of signatures (single or multi-signature)
- ℹ️ No cryptographic verification (requires certificates)

## Parameters

- **pdf_file** (required): The Factur-X PDF file to validate
- **profile** (optional): Expected profile. If absent, auto-detected from XML
- **use_verapdf** (optional, default=false): Enable strict PDF/A validation with VeraPDF
  - `false`: Fast metadata validation (2-3 seconds)
  - `true`: Complete ISO 19005-3 validation (15-30 seconds, **recommended for production**)

## Detailed response

```json
{
  "isCompliant": true,
  "xml": {
    "present": true,
    "compliant": true,
    "profile": "EN16931",
    "errors": []
  },
  "pdfa": {
    "compliant": true,
    "version": "PDF/A-3B",
    "method": "verapdf",
    "errors": []
  },
  "xmp": {
    "present": true,
    "compliant": true,
    "metadata": {...}
  },
  "signatures": {
    "present": true,
    "count": 1,
    "details": [...]
  }
}
```

## Use cases

- **Before sending**: Validate generated invoice before transmission to client
- **On reception**: Verify compliance of invoice received from supplier
- **Audit**: Check quality of invoice batches
- **Legal compliance**: Ensure B2B/B2G obligations are met in France
- **Debugging**: Identify issues in generation process
- **Archiving**: Guarantee long-term validity (PDF/A-3)

## Processing time

- Basic validation: 2-3 seconds
- VeraPDF validation: 15-30 seconds (depends on PDF size)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest
*/
func (a *FacturXValidationAPIService) ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPost(ctx context.Context) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	return ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PDFValidationResultAPI
func (a *FacturXValidationAPIService) ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostExecute(r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) (*PDFValidationResultAPI, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PDFValidationResultAPI
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacturXValidationAPIService.ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-facturx-pdf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	if r.useVerapdf != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_verapdf", r.useVerapdf, "", "")
	}
	if r.skipBrFr != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "skip_br_fr", r.skipBrFr, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest struct {
	ctx context.Context
	ApiService *FacturXValidationAPIService
	pdfFile *os.File
	profile *APIProfile
	useVerapdf *bool
	callbackUrl *string
	webhookMode *string
}

// Factur-X PDF file to validate (.pdf format).
func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) PdfFile(pdfFile *os.File) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) Profile(profile APIProfile) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.profile = &profile
	return r
}

// Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds.
func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) UseVerapdf(useVerapdf bool) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.useVerapdf = &useVerapdf
	return r
}

func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) CallbackUrl(callbackUrl string) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.callbackUrl = &callbackUrl
	return r
}

// Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL)
func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) WebhookMode(webhookMode string) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.webhookMode = &webhookMode
	return r
}

func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostExecute(r)
}

/*
ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost Validate a Factur-X PDF (asynchronous with polling)

Validates a Factur-X PDF asynchronously with polling system.

## How it works

1. **Submission**: PDF is queued for asynchronous validation
2. **Immediate return**: You receive a `task_id` (HTTP 202)
3. **Tracking**: Use the `/tasks/{task_id}/status` endpoint to track progress

## Advantages of asynchronous mode

- **No timeout**: Ideal for large PDFs or VeraPDF validation (which can take several seconds)
- **Scalability**: Validations are processed by dedicated Celery workers
- **Status tracking**: Allows you to monitor validation progress
- **Non-blocking**: Your client doesn't wait during validation

## Webhook notification (recommended)

Instead of polling, you can receive a webhook notification when validation completes:

```
callback_url=https://your-server.com/webhook
webhook_mode=download_url  # Optional: get download URL instead of base64
```

The webhook will POST a JSON payload with:
- `event_type`: `validation.completed` or `validation.failed`
- `data.is_compliant`: Whether the PDF is Factur-X compliant
- `data.detected_profile`: The detected Factur-X profile
- `X-Webhook-Signature` header for HMAC verification

## When to use this mode?

- **VeraPDF validation enabled** (`use_verapdf=True`): Strict validation can take 2-10 seconds
- **Large PDF files**: PDFs > 1 MB
- **Batch processing**: Validating multiple invoices in parallel
- **Asynchronous integration**: Your system supports polling

## Checks performed

### 1. Factur-X XML extraction and validation
- Verifies presence of Factur-X compliant embedded XML file
- Automatically detects profile used (MINIMUM, BASIC, EN16931, EXTENDED)
- Validates XML against detected profile's Schematron rules

### 2. PDF/A compliance
- **Without VeraPDF**: Basic metadata validation (fast, ~100ms)
- **With VeraPDF**: Strict ISO 19005 validation (146+ rules, 2-10s)
  - Detects PDF/A version (PDF/A-1, PDF/A-3, etc.)
  - Detailed non-compliance reports

### 3. XMP metadata
- Verifies presence of XMP metadata in PDF
- Validates Factur-X metadata compliance (profile, version)
- Extracts all available XMP metadata

### 4. Electronic signatures
- Detects presence of electronic signatures or seals
- Extracts information about each signature (signer, date, reason)
- Counts number of signatures present

## Parameters

- **pdf_file**: The Factur-X PDF file to validate
- **profile**: Expected Factur-X profile (optional). If not specified, profile
  will be auto-detected from embedded XML file.
- **use_verapdf**: Enable strict PDF/A validation with VeraPDF.
  ⚠️ **Warning**: VeraPDF can take 2-10 seconds depending on PDF size.
  Recommended only in asynchronous mode to avoid timeouts.

## Retrieving results

After submission, use `GET /tasks/{task_id}/status` endpoint to retrieve the result.

**Polling example**:
```python
import requests
import time

# 1. Submit task
response = requests.post("/validate-facturx-async", files={"pdf_file": pdf_file})
task_id = response.json()["taskId"]

# 2. Poll every 2 seconds
while True:
    status_response = requests.get(f"/tasks/{task_id}/status")
    status = status_response.json()

    if status["status"] == "SUCCESS":
        result = status["result"]["validation_result"]
        print(f"Compliant: {result['is_compliant']}")
        break
    elif status["status"] == "FAILURE":
        print(f"Error: {status['result']['errorMessage']}")
        break

    time.sleep(2)  # Wait 2 seconds before next check
```

## Use cases

- Validate invoices before sending with VeraPDF (strict validation)
- Process invoice batches in parallel
- Integrate validation into an asynchronous pipeline
- Validate large PDFs without timeout risk

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest
*/
func (a *FacturXValidationAPIService) ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost(ctx context.Context) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	return ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *FacturXValidationAPIService) ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostExecute(r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacturXValidationAPIService.ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-facturx-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	if r.useVerapdf != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_verapdf", r.useVerapdf, "", "")
	}
	if r.callbackUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "callback_url", r.callbackUrl, "", "")
	}
	if r.webhookMode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "webhook_mode", r.webhookMode, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
