/*
FactPulse REST API

 REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

API version: 1.0.0
Contact: contact@factpulse.fr
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// ElectronicSignatureAPIService ElectronicSignatureAPI service
type ElectronicSignatureAPIService service

type ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest struct {
	ctx context.Context
	ApiService *ElectronicSignatureAPIService
	generateCertificateRequest *GenerateCertificateRequest
}

func (r ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest) GenerateCertificateRequest(generateCertificateRequest GenerateCertificateRequest) ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest {
	r.generateCertificateRequest = &generateCertificateRequest
	return r
}

func (r ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest) Execute() (*GenerateCertificateResponse, *http.Response, error) {
	return r.ApiService.GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostExecute(r)
}

/*
GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost Generate a self-signed X.509 test certificate

Generates a self-signed X.509 certificate for PDF electronic signature testing.

    **⚠️ WARNING: TEST certificate only!**

    This certificate is:
    - ✅ Suitable for testing and development
    - ✅ Compatible with PDF signing (PAdES)
    - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)
    - ❌ **NEVER usable in production**
    - ❌ **Not recognized** by browsers and PDF readers
    - ❌ **No legal value**

    ## eIDAS levels

    - **SES** (Simple): Self-signed certificate ← Generated by this endpoint
    - **AdES** (Advanced): Commercial CA certificate (Let's Encrypt, etc.)
    - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)

    ## Usage

    Once generated, the certificate can be:

    1. **Saved in Django** (recommended):
       - Django Admin > Signing Certificates
       - Upload `certificate_pem` and `private_key_pem`

    2. **Used directly**:
       - Sign a PDF with `/sign-pdf`
       - The certificate will be automatically used

    ## Example call

    ```bash
    curl -X POST "https://factpulse.fr/api/v1/processing/generate-test-certificate" \
      -H "Authorization: Bearer eyJ0eXAi..." \
      -H "Content-Type: application/json" \
      -d '{
        "cn": "Test Client XYZ",
        "organization": "Client XYZ Ltd",
        "email": "contact@xyz.com",
        "validity_days": 365
      }'
    ```

    ## Use cases

    - PDF signature testing in development
    - Electronic signature POC
    - Training and demos
    - Automated integration tests

    ## Technical compliance

    Certificate generated with:
    - RSA key 2048 or 4096 bits
    - SHA-256 algorithm
    - Key Usage extensions: `digitalSignature`, `contentCommitment` (non-repudiation)
    - Extended Key Usage extensions: `codeSigning`, `emailProtection`
    - Validity: 1 day to 10 years (configurable)
    - Format: PEM (certificate and key)
    - Optional: PKCS#12 (.p12)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest
*/
func (a *ElectronicSignatureAPIService) GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ctx context.Context) ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest {
	return ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GenerateCertificateResponse
func (a *ElectronicSignatureAPIService) GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostExecute(r ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest) (*GenerateCertificateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GenerateCertificateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectronicSignatureAPIService.GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/generate-test-certificate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.generateCertificateRequest == nil {
		return localVarReturnValue, nil, reportError("generateCertificateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.generateCertificateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignPdfApiV1ProcessingSignPdfPostRequest struct {
	ctx context.Context
	ApiService *ElectronicSignatureAPIService
	pdfFile *os.File
	reason *string
	location *string
	contact *string
	fieldName *string
	usePadesLt *bool
	useTimestamp *bool
}

// PDF file to sign (will be processed and returned signed in base64)
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) PdfFile(pdfFile *os.File) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Reason(reason string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.reason = &reason
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Location(location string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.location = &location
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Contact(contact string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.contact = &contact
	return r
}

// PDF signature field name
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) FieldName(fieldName string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.fieldName = &fieldName
	return r
}

// Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access.
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) UsePadesLt(usePadesLt bool) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.usePadesLt = &usePadesLt
	return r
}

// Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T)
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) UseTimestamp(useTimestamp bool) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.useTimestamp = &useTimestamp
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignPdfApiV1ProcessingSignPdfPostExecute(r)
}

/*
SignPdfApiV1ProcessingSignPdfPost Sign a PDF with client's certificate (PAdES-B-LT)

Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).

    **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).

    **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).

    **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.

    **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by
    the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).
    FactPulse does not provide QES qualified certificates - you must obtain a certificate from
    a PSCO (qualified Trust Service Provider) for maximum legal validity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignPdfApiV1ProcessingSignPdfPostRequest
*/
func (a *ElectronicSignatureAPIService) SignPdfApiV1ProcessingSignPdfPost(ctx context.Context) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	return ApiSignPdfApiV1ProcessingSignPdfPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ElectronicSignatureAPIService) SignPdfApiV1ProcessingSignPdfPostExecute(r ApiSignPdfApiV1ProcessingSignPdfPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectronicSignatureAPIService.SignPdfApiV1ProcessingSignPdfPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/sign-pdf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "reason", r.reason, "", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "location", r.location, "", "")
	}
	if r.contact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contact", r.contact, "", "")
	}
	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "field_name", r.fieldName, "", "")
	}
	if r.usePadesLt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_pades_lt", r.usePadesLt, "", "")
	}
	if r.useTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_timestamp", r.useTimestamp, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest struct {
	ctx context.Context
	ApiService *ElectronicSignatureAPIService
	pdfFile *os.File
	callbackUrl *string
	webhookMode *string
	reason *string
	location *string
	contact *string
	fieldName *string
	usePadesLt *bool
	useTimestamp *bool
}

// PDF file to sign (processed asynchronously)
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) PdfFile(pdfFile *os.File) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) CallbackUrl(callbackUrl string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.callbackUrl = &callbackUrl
	return r
}

// Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL)
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) WebhookMode(webhookMode string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.webhookMode = &webhookMode
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Reason(reason string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.reason = &reason
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Location(location string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.location = &location
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Contact(contact string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.contact = &contact
	return r
}

// PDF signature field name
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) FieldName(fieldName string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.fieldName = &fieldName
	return r
}

// Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access.
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) UsePadesLt(usePadesLt bool) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.usePadesLt = &usePadesLt
	return r
}

// Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T)
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) UseTimestamp(useTimestamp bool) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.useTimestamp = &useTimestamp
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignPdfAsyncApiV1ProcessingSignPdfAsyncPostExecute(r)
}

/*
SignPdfAsyncApiV1ProcessingSignPdfAsyncPost Sign a PDF asynchronously (Celery)

Signs an uploaded PDF asynchronously via a Celery task.

    **Difference with /sign-pdf**:
    - `/sign-pdf`: Synchronous signature (blocking until completion)
    - `/sign-pdf-async`: Asynchronous signature (returns immediately with task_id)

    **Async advantages**:
    - No timeout for large files
    - No blocking of FastAPI worker
    - Progress tracking via task_id
    - Ideal for batch processing

    **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).

    **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint's documentation).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest
*/
func (a *ElectronicSignatureAPIService) SignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ctx context.Context) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	return ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ElectronicSignatureAPIService) SignPdfAsyncApiV1ProcessingSignPdfAsyncPostExecute(r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectronicSignatureAPIService.SignPdfAsyncApiV1ProcessingSignPdfAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/sign-pdf-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.callbackUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "callback_url", r.callbackUrl, "", "")
	}
	if r.webhookMode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "webhook_mode", r.webhookMode, "", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "reason", r.reason, "", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "location", r.location, "", "")
	}
	if r.contact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contact", r.contact, "", "")
	}
	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "field_name", r.fieldName, "", "")
	}
	if r.usePadesLt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_pades_lt", r.usePadesLt, "", "")
	}
	if r.useTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_timestamp", r.useTimestamp, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest struct {
	ctx context.Context
	ApiService *ElectronicSignatureAPIService
	pdfFile *os.File
}

// PDF file to validate (will be analyzed to detect and validate signatures)
func (r ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest) PdfFile(pdfFile *os.File) ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostExecute(r)
}

/*
ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost Validate electronic signatures of a PDF

Validates electronic signatures present in an uploaded PDF.

    **Verifications performed**:
    - Presence of signatures
    - Document integrity (not modified since signing)
    - Certificate validity
    - Chain of trust (if available)
    - Presence of timestamp (PAdES-B-T)
    - Validation data (PAdES-B-LT)

    **Supported standards**: PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.

    **⚠️ Note**: This validation is technical (cryptographic integrity). Legal validity
    depends on the eIDAS level of the certificate (SES/AdES/QES) and the context of use.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest
*/
func (a *ElectronicSignatureAPIService) ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost(ctx context.Context) ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest {
	return ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ElectronicSignatureAPIService) ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostExecute(r ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ElectronicSignatureAPIService.ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-pdf-signature"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
