/*
FactPulse REST API

 REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://www.factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://www.factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://www.factpulse.fr/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://www.factpulse.fr/documentation-api/     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// InvoiceProcessingAPIService InvoiceProcessingAPI service
type InvoiceProcessingAPIService service

type ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	invoiceData *string
	profile *FacturXProfile
	outputFormat *OutputFormat
	autoEnrich *bool
	sourcePdf *os.File
}

// Invoice data in JSON format.              Two formats accepted:             1. **Classic format**: Complete FactureFacturX structure (all fields)             2. **Simplified format** (🆕 P0.1): Minimal structure with auto-enrichment              Format is detected automatically!             
func (r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) InvoiceData(invoiceData string) ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest {
	r.invoiceData = &invoiceData
	return r
}

// Factur-X profile: MINIMUM, BASIC, EN16931 or EXTENDED.
func (r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) Profile(profile FacturXProfile) ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest {
	r.profile = &profile
	return r
}

// Output format: &#39;xml&#39; (XML only) or &#39;pdf&#39; (Factur-X PDF with embedded XML).
func (r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) OutputFormat(outputFormat OutputFormat) ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest {
	r.outputFormat = &outputFormat
	return r
}

// 🆕 Enable auto-enrichment from SIRET/SIREN (simplified format only)
func (r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) AutoEnrich(autoEnrich bool) ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest {
	r.autoEnrich = &autoEnrich
	return r
}

func (r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) SourcePdf(sourcePdf *os.File) ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest {
	r.sourcePdf = sourcePdf
	return r
}

func (r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.GenerateInvoiceApiV1ProcessingGenerateInvoicePostExecute(r)
}

/*
GenerateInvoiceApiV1ProcessingGenerateInvoicePost Generate a Factur-X invoice

Generates an electronic invoice in Factur-X format compliant with European standards.

## Applied Standards

- **Factur-X** (France): FNFE-MPE standard (Forum National de la Facture Électronique)
- **ZUGFeRD** (Germany): German format compatible with Factur-X
- **EN 16931**: European semantic standard for electronic invoicing
- **ISO 19005-3** (PDF/A-3): Long-term electronic archiving
- **Cross Industry Invoice (CII)**: UN/CEFACT XML syntax

## 🆕 New: Simplified format with auto-enrichment (P0.1)

You can now create an invoice by providing only:
- An invoice number
- A sender SIRET + **IBAN** (required)
- A recipient SIRET
- Invoice lines (description, quantity, net price)

**Simplified format example**:
```json
{
  "number": "FACT-2025-001",
  "sender": {
    "siret": "92019522900017",
    "iban": "FR7630001007941234567890185"
  },
  "recipient": {"siret": "35600000000048"},
  "lines": [
    {"description": "Service", "quantity": 10, "unitPrice": 100.00, "vatRate": 20.0}
  ]
}
```

**⚠️ Required fields (simplified format)**:
- `number`: Unique invoice number
- `sender.siret`: Sender's SIRET (14 digits)
- `sender.iban`: Bank account IBAN (no public API to retrieve it)
- `recipient.siret`: Recipient's SIRET
- `lines[]`: At least one invoice line

**What happens automatically with `auto_enrich=True`**:
- ✅ Name enrichment from Chorus Pro API
- ✅ Address enrichment from Business Search API (free, public)
- ✅ Automatic intra-EU VAT calculation (FR + key + SIREN)
- ✅ Chorus Pro ID retrieval for electronic invoicing
- ✅ Net/VAT/Gross totals calculation
- ✅ Date generation (today + 30-day due date)
- ✅ Multi-rate VAT handling

**Supported identifiers**:
- SIRET (14 digits): Specific establishment ⭐ Recommended
- SIREN (9 digits): Company (auto-selection of headquarters)
- Special types: UE_HORS_FRANCE, RIDET, TAHITI, etc.

## Checks performed during generation

### 1. Data validation (Pydantic)
- Data types (amounts as Decimal, ISO 8601 dates)
- Formats (14-digit SIRET, 9-digit SIREN, IBAN)
- Required fields per profile
- Amount consistency (Net + VAT = Gross)

### 2. CII-compliant XML generation
- Serialization according to Cross Industry Invoice XSD schema
- Correct UN/CEFACT namespaces
- Hierarchical structure respected
- UTF-8 encoding without BOM

### 3. Schematron validation
- Business rules for selected profile (MINIMUM, BASIC, EN16931, EXTENDED)
- Element cardinality (required, optional, repeatable)
- Calculation rules (totals, VAT, discounts)
- European EN 16931 compliance

### 4. PDF/A-3 conversion (if output_format='pdf')
- Source PDF conversion to PDF/A-3 via Ghostscript
- Factur-X XML embedding in PDF
- Compliant XMP metadata
- ICC sRGB color profile
- Removal of forbidden elements (JavaScript, forms)

## How it works

1. **Submission**: Invoice is queued in Celery for asynchronous processing
2. **Immediate return**: You receive a `task_id` (HTTP 202 Accepted)
3. **Tracking**: Use the `/tasks/{task_id}/status` endpoint to track progress

## Output formats

- **xml**: Generates only Factur-X XML (recommended for testing)
- **pdf**: Generates PDF/A-3 with embedded XML (requires `source_pdf`)

## Factur-X profiles

- **MINIMUM**: Minimal data (simplified invoice)
- **BASIC**: Basic information (SMEs)
- **EN16931**: European standard (recommended, compliant with directive 2014/55/EU)
- **EXTENDED**: All available data (large accounts)

## What you get

After successful processing (status `completed`):
- **XML only**: Base64-encoded Factur-X compliant XML file
- **PDF/A-3**: PDF with embedded XML, ready for sending/archiving
- **Metadata**: Profile, Factur-X version, file size
- **Validation**: Schematron compliance confirmation

## Validation

Data is automatically validated according to detected format.
On error, a 422 status is returned with invalid field details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest
*/
func (a *InvoiceProcessingAPIService) GenerateInvoiceApiV1ProcessingGenerateInvoicePost(ctx context.Context) ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest {
	return ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *InvoiceProcessingAPIService) GenerateInvoiceApiV1ProcessingGenerateInvoicePostExecute(r ApiGenerateInvoiceApiV1ProcessingGenerateInvoicePostRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.GenerateInvoiceApiV1ProcessingGenerateInvoicePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/generate-invoice"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.invoiceData == nil {
		return localVarReturnValue, nil, reportError("invoiceData is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "invoice_data", r.invoiceData, "", "")
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	if r.outputFormat != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "output_format", r.outputFormat, "", "")
	}
	if r.autoEnrich != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "auto_enrich", r.autoEnrich, "", "")
	}
	var sourcePdfLocalVarFormFileName string
	var sourcePdfLocalVarFileName     string
	var sourcePdfLocalVarFileBytes    []byte

	sourcePdfLocalVarFormFileName = "source_pdf"
	sourcePdfLocalVarFile := r.sourcePdf

	if sourcePdfLocalVarFile != nil {
		fbs, _ := io.ReadAll(sourcePdfLocalVarFile)

		sourcePdfLocalVarFileBytes = fbs
		sourcePdfLocalVarFileName = sourcePdfLocalVarFile.Name()
		sourcePdfLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: sourcePdfLocalVarFileBytes, fileName: sourcePdfLocalVarFileName, formFileName: sourcePdfLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	generateCertificateRequest *GenerateCertificateRequest
}

func (r ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest) GenerateCertificateRequest(generateCertificateRequest GenerateCertificateRequest) ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest {
	r.generateCertificateRequest = &generateCertificateRequest
	return r
}

func (r ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest) Execute() (*GenerateCertificateResponse, *http.Response, error) {
	return r.ApiService.GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostExecute(r)
}

/*
GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost Generate a self-signed X.509 test certificate

Generates a self-signed X.509 certificate for PDF electronic signature testing.

    **⚠️ WARNING: TEST certificate only!**

    This certificate is:
    - ✅ Suitable for testing and development
    - ✅ Compatible with PDF signing (PAdES)
    - ✅ Compliant with eIDAS **SES** level (Simple Electronic Signature)
    - ❌ **NEVER usable in production**
    - ❌ **Not recognized** by browsers and PDF readers
    - ❌ **No legal value**

    ## eIDAS levels

    - **SES** (Simple): Self-signed certificate ← Generated by this endpoint
    - **AdES** (Advanced): Commercial CA certificate (Let's Encrypt, etc.)
    - **QES** (Qualified): Qualified certificate from QTSP (CertEurope, Universign, etc.)

    ## Usage

    Once generated, the certificate can be:

    1. **Saved in Django** (recommended):
       - Django Admin > Signing Certificates
       - Upload `certificate_pem` and `private_key_pem`

    2. **Used directly**:
       - Sign a PDF with `/sign-pdf`
       - The certificate will be automatically used

    ## Example call

    ```bash
    curl -X POST "https://www.factpulse.fr/api/v1/processing/generate-test-certificate" \
      -H "Authorization: Bearer eyJ0eXAi..." \
      -H "Content-Type: application/json" \
      -d '{
        "cn": "Test Client XYZ",
        "organization": "Client XYZ Ltd",
        "email": "contact@xyz.com",
        "validity_days": 365
      }'
    ```

    ## Use cases

    - PDF signature testing in development
    - Electronic signature POC
    - Training and demos
    - Automated integration tests

    ## Technical compliance

    Certificate generated with:
    - RSA key 2048 or 4096 bits
    - SHA-256 algorithm
    - Key Usage extensions: `digitalSignature`, `contentCommitment` (non-repudiation)
    - Extended Key Usage extensions: `codeSigning`, `emailProtection`
    - Validity: 1 day to 10 years (configurable)
    - Format: PEM (certificate and key)
    - Optional: PKCS#12 (.p12)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest
*/
func (a *InvoiceProcessingAPIService) GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost(ctx context.Context) ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest {
	return ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GenerateCertificateResponse
func (a *InvoiceProcessingAPIService) GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostExecute(r ApiGenerateTestCertificateApiV1ProcessingGenerateTestCertificatePostRequest) (*GenerateCertificateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GenerateCertificateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.GenerateTestCertificateApiV1ProcessingGenerateTestCertificatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/generate-test-certificate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.generateCertificateRequest == nil {
		return localVarReturnValue, nil, reportError("generateCertificateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.generateCertificateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	taskId string
}

func (r ApiGetTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest) Execute() (*AsyncTaskStatus, *http.Response, error) {
	return r.ApiService.GetTaskStatusApiV1ProcessingTasksTaskIdStatusGetExecute(r)
}

/*
GetTaskStatusApiV1ProcessingTasksTaskIdStatusGet Get task generation status

Retrieves the progress status of an invoice generation task.

## Possible states

The `status` field uses the `CeleryStatus` enum with values:
- **PENDING, STARTED, SUCCESS, FAILURE, RETRY**

See the `CeleryStatus` schema documentation for details.

## Business result

When `status="SUCCESS"`, the `result` field contains:
- `status`: "SUCCESS" or "ERROR" (business result)
- `content_b64`: Base64 encoded content (if success)
- `errorCode`, `errorMessage`, `details`: AFNOR format (if business error)

## Usage

Poll this endpoint every 2-3 seconds until
`status` is `SUCCESS` or `FAILURE`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskId
 @return ApiGetTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest
*/
func (a *InvoiceProcessingAPIService) GetTaskStatusApiV1ProcessingTasksTaskIdStatusGet(ctx context.Context, taskId string) ApiGetTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest {
	return ApiGetTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest{
		ApiService: a,
		ctx: ctx,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return AsyncTaskStatus
func (a *InvoiceProcessingAPIService) GetTaskStatusApiV1ProcessingTasksTaskIdStatusGetExecute(r ApiGetTaskStatusApiV1ProcessingTasksTaskIdStatusGetRequest) (*AsyncTaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncTaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.GetTaskStatusApiV1ProcessingTasksTaskIdStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/tasks/{task_id}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignPdfApiV1ProcessingSignPdfPostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	pdfFile *os.File
	reason *string
	location *string
	contact *string
	fieldName *string
	usePadesLt *bool
	useTimestamp *bool
}

// PDF file to sign (will be processed and returned signed in base64)
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) PdfFile(pdfFile *os.File) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Reason(reason string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.reason = &reason
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Location(location string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.location = &location
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Contact(contact string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.contact = &contact
	return r
}

// PDF signature field name
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) FieldName(fieldName string) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.fieldName = &fieldName
	return r
}

// Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access.
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) UsePadesLt(usePadesLt bool) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.usePadesLt = &usePadesLt
	return r
}

// Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T)
func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) UseTimestamp(useTimestamp bool) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	r.useTimestamp = &useTimestamp
	return r
}

func (r ApiSignPdfApiV1ProcessingSignPdfPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignPdfApiV1ProcessingSignPdfPostExecute(r)
}

/*
SignPdfApiV1ProcessingSignPdfPost Sign a PDF with client's certificate (PAdES-B-LT)

Signs an uploaded PDF with the electronic certificate configured for the client (via client_uid from JWT).

    **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).

    **eIDAS levels**: SES (self-signed), AdES (commercial CA), QES (PSCO - out of scope).

    **Security**: Double authentication X-Internal-Secret + JWT Bearer to retrieve the certificate.

    **⚠️ Legal disclaimer**: Generated signatures are electronic seals as defined by
    the eIDAS regulation. The level of legal validity depends on the certificate used (SES/AdES/QES).
    FactPulse does not provide QES qualified certificates - you must obtain a certificate from
    a PSCO (qualified Trust Service Provider) for maximum legal validity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignPdfApiV1ProcessingSignPdfPostRequest
*/
func (a *InvoiceProcessingAPIService) SignPdfApiV1ProcessingSignPdfPost(ctx context.Context) ApiSignPdfApiV1ProcessingSignPdfPostRequest {
	return ApiSignPdfApiV1ProcessingSignPdfPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *InvoiceProcessingAPIService) SignPdfApiV1ProcessingSignPdfPostExecute(r ApiSignPdfApiV1ProcessingSignPdfPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.SignPdfApiV1ProcessingSignPdfPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/sign-pdf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "reason", r.reason, "", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "location", r.location, "", "")
	}
	if r.contact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contact", r.contact, "", "")
	}
	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "field_name", r.fieldName, "", "")
	}
	if r.usePadesLt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_pades_lt", r.usePadesLt, "", "")
	}
	if r.useTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_timestamp", r.useTimestamp, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	pdfFile *os.File
	reason *string
	location *string
	contact *string
	fieldName *string
	usePadesLt *bool
	useTimestamp *bool
}

// PDF file to sign (processed asynchronously)
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) PdfFile(pdfFile *os.File) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Reason(reason string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.reason = &reason
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Location(location string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.location = &location
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Contact(contact string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.contact = &contact
	return r
}

// PDF signature field name
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) FieldName(fieldName string) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.fieldName = &fieldName
	return r
}

// Enable PAdES-B-LT (long-term archiving with embedded validation data). REQUIRES a certificate with OCSP/CRL access.
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) UsePadesLt(usePadesLt bool) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.usePadesLt = &usePadesLt
	return r
}

// Enable RFC 3161 timestamping with FreeTSA (PAdES-B-T)
func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) UseTimestamp(useTimestamp bool) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	r.useTimestamp = &useTimestamp
	return r
}

func (r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignPdfAsyncApiV1ProcessingSignPdfAsyncPostExecute(r)
}

/*
SignPdfAsyncApiV1ProcessingSignPdfAsyncPost Sign a PDF asynchronously (Celery)

Signs an uploaded PDF asynchronously via a Celery task.

    **Difference with /sign-pdf**:
    - `/sign-pdf`: Synchronous signature (blocking until completion)
    - `/sign-pdf-async`: Asynchronous signature (returns immediately with task_id)

    **Async advantages**:
    - No timeout for large files
    - No blocking of FastAPI worker
    - Progress tracking via task_id
    - Ideal for batch processing

    **Supported standards**: PAdES-B-B, PAdES-B-T (timestamping), PAdES-B-LT (long-term archiving).

    **⚠️ Legal disclaimer**: Same as /sign-pdf (see that endpoint's documentation).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest
*/
func (a *InvoiceProcessingAPIService) SignPdfAsyncApiV1ProcessingSignPdfAsyncPost(ctx context.Context) ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest {
	return ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *InvoiceProcessingAPIService) SignPdfAsyncApiV1ProcessingSignPdfAsyncPostExecute(r ApiSignPdfAsyncApiV1ProcessingSignPdfAsyncPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.SignPdfAsyncApiV1ProcessingSignPdfAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/sign-pdf-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "reason", r.reason, "", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "location", r.location, "", "")
	}
	if r.contact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contact", r.contact, "", "")
	}
	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "field_name", r.fieldName, "", "")
	}
	if r.usePadesLt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_pades_lt", r.usePadesLt, "", "")
	}
	if r.useTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_timestamp", r.useTimestamp, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	submitCompleteInvoiceRequest *SubmitCompleteInvoiceRequest
}

func (r ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest) SubmitCompleteInvoiceRequest(submitCompleteInvoiceRequest SubmitCompleteInvoiceRequest) ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest {
	r.submitCompleteInvoiceRequest = &submitCompleteInvoiceRequest
	return r
}

func (r ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest) Execute() (*SubmitCompleteInvoiceResponse, *http.Response, error) {
	return r.ApiService.SubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostExecute(r)
}

/*
SubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost Submit a complete invoice (generation + signature + submission)

Unified endpoint to submit a complete invoice to different destinations.

    **Automated workflow:**
    1. **Auto-enrichment** (optional): retrieves data via public APIs and Chorus Pro/AFNOR
    2. **Factur-X PDF generation**: creates a PDF/A-3 with embedded XML
    3. **Electronic signature** (optional): signs the PDF with a certificate
    4. **Submission**: sends to the chosen destination (Chorus Pro or AFNOR PDP)

    **Supported destinations:**
    - **Chorus Pro**: French B2G platform (invoices to public sector)
    - **AFNOR PDP**: Partner Dematerialization Platforms

    **Destination credentials - 2 modes available:**

    **Mode 1 - Retrieval via JWT (recommended):**
    - Credentials are retrieved automatically via the JWT `client_uid`
    - Do not provide the `credentials` field in `destination`
    - Zero-trust architecture: no secrets in the payload
    - Example: `"destination": {"type": "chorus_pro"}`

    **Mode 2 - Credentials in the payload:**
    - Provide credentials directly in the payload
    - Useful for tests or third-party integrations
    - Example: `"destination": {"type": "chorus_pro", "credentials": {...}}`


    **Electronic signature (optional) - 2 modes available:**

    **Mode 1 - Stored certificate (recommended):**
    - Certificate is retrieved automatically via the JWT `client_uid`
    - No key to provide in the payload
    - PAdES-B-LT signature with timestamp (eIDAS compliant)
    - Example: `"signature": {"reason": "Factur-X compliance"}`

    **Mode 2 - Keys in the payload (for tests):**
    - Provide `key_pem` and `cert_pem` directly
    - PEM format accepted: raw or base64
    - Useful for tests or special cases without stored certificate
    - Example: `"signature": {"key_pem": "-----BEGIN...", "cert_pem": "-----BEGIN..."}`

    If `key_pem` and `cert_pem` are provided → Mode 2
    Otherwise → Mode 1 (certificate retrieved via `client_uid`)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest
*/
func (a *InvoiceProcessingAPIService) SubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost(ctx context.Context) ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest {
	return ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SubmitCompleteInvoiceResponse
func (a *InvoiceProcessingAPIService) SubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostExecute(r ApiSubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePostRequest) (*SubmitCompleteInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubmitCompleteInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.SubmitCompleteInvoiceApiV1ProcessingInvoicesSubmitCompletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/invoices/submit-complete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submitCompleteInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("submitCompleteInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.submitCompleteInvoiceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	submitCompleteInvoiceRequest *SubmitCompleteInvoiceRequest
}

func (r ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest) SubmitCompleteInvoiceRequest(submitCompleteInvoiceRequest SubmitCompleteInvoiceRequest) ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest {
	r.submitCompleteInvoiceRequest = &submitCompleteInvoiceRequest
	return r
}

func (r ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.SubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostExecute(r)
}

/*
SubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPost Submit a complete invoice (asynchronous with Celery)

Asynchronous version of the `/invoices/submit-complete` endpoint using Celery for background processing.

    **Automated workflow (same as synchronous version):**
    1. **Auto-enrichment** (optional): retrieves data via public APIs and Chorus Pro/AFNOR
    2. **Factur-X PDF generation**: creates a PDF/A-3 with embedded XML
    3. **Electronic signature** (optional): signs the PDF with a certificate
    4. **Submission**: sends to the chosen destination (Chorus Pro or AFNOR PDP)

    **Supported destinations:**
    - **Chorus Pro**: French B2G platform (invoices to public sector)
    - **AFNOR PDP**: Partner Dematerialization Platforms

    **Differences with synchronous version:**
    - ✅ **Non-blocking**: Returns immediately with a `task_id` (HTTP 202 Accepted)
    - ✅ **Background processing**: Invoice is processed by a Celery worker
    - ✅ **Progress tracking**: Use `/tasks/{task_id}/status` to track status
    - ✅ **Ideal for high volumes**: Allows processing many invoices in parallel

    **How to use:**
    1. **Submission**: Call this endpoint with your invoice data
    2. **Immediate return**: You receive a `task_id` (e.g., "abc123-def456")
    3. **Tracking**: Call `/tasks/{task_id}/status` to check progress
    4. **Result**: When `status = "SUCCESS"`, the `result` field contains the complete response

    **Credentials and signature**: Same modes as the synchronous version (JWT or payload).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest
*/
func (a *InvoiceProcessingAPIService) SubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPost(ctx context.Context) ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest {
	return ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *InvoiceProcessingAPIService) SubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostExecute(r ApiSubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPostRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.SubmitCompleteInvoiceAsyncApiV1ProcessingInvoicesSubmitCompleteAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/invoices/submit-complete-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submitCompleteInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("submitCompleteInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.submitCompleteInvoiceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	pdfFile *os.File
	profile *FacturXProfile
	useVerapdf *bool
}

// Factur-X PDF file to validate (.pdf format).
func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) PdfFile(pdfFile *os.File) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) Profile(profile FacturXProfile) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.profile = &profile
	return r
}

// Enable strict PDF/A validation with VeraPDF (recommended for production). If False, uses basic metadata validation.
func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) UseVerapdf(useVerapdf bool) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	r.useVerapdf = &useVerapdf
	return r
}

func (r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) Execute() (*PDFValidationResultAPI, *http.Response, error) {
	return r.ApiService.ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostExecute(r)
}

/*
ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPost Validate a complete Factur-X PDF

Validates a complete Factur-X PDF according to European and French standards.

## Applied validation standards

- **EN 16931**: European semantic standard (directive 2014/55/EU)
- **ISO 19005-3** (PDF/A-3): Long-term electronic archiving
- **Factur-X / ZUGFeRD**: Franco-German specification
- **Schematron**: XML business rules validation
- **eIDAS**: European regulation on electronic identification (signatures)

## Checks performed

### 1. Factur-X XML extraction and validation
**Checks performed:**
- Presence of embedded XML file (`factur-x.xml` or `zugferd-invoice.xml`)
- Automatic profile detection (MINIMUM, BASIC, EN16931, EXTENDED)
- XML parsing with UTF-8 validation
- GuidelineSpecifiedDocumentContextParameter/ID extraction

**Schematron validation:**
- Business rules for detected profile (MINIMUM: 45 rules, EN16931: 178 rules)
- Cardinality of required elements
- Calculation consistency (net, VAT, gross amounts, discounts)
- Identifier formats (SIRET, intra-EU VAT, IBAN)
- Standardized codes (ISO country codes, UN/ECE units, VAT codes)

**What is verified:**
- ✅ XML structure conforming to Cross Industry Invoice XSD
- ✅ Correct UN/CEFACT namespace
- ✅ European business rules (BR-xx)
- ✅ French-specific rules (FR-xx)

### 2. PDF/A-3 compliance
**Basic validation (metadata):**
- Presence of `/Type` field set to `Catalog`
- Metadata `pdfaid:part` = 3 (PDF/A-3)
- Metadata `pdfaid:conformance` = B or U
- PDF version >= 1.4

**Strict VeraPDF validation (if use_verapdf=True):**
- 146+ ISO 19005-3 rules (PDF/A-3B)
- Absence of forbidden content (JavaScript, multimedia, dynamic forms)
- Correctly embedded fonts and subsets
- Compliant color spaces (sRGB, DeviceGray)
- Valid file structure (cross-reference table)
- XMP metadata conforming to ISO 16684-1

**What is verified:**
- ✅ Long-term archivable file (20+ years)
- ✅ Guaranteed readability (embedded fonts)
- ✅ Legal compliance (France, Germany, EU)

### 3. XMP metadata (eXtensible Metadata Platform)
**Checks performed:**
- Presence of `<?xpacket>` block with XMP metadata
- `fx:` namespace for Factur-X: `urn:factur-x:pdfa:CrossIndustryDocument:invoice:1p0#`
- Required Factur-X fields:
  - `fx:ConformanceLevel`: Profile (MINIMUM, BASIC, EN16931, EXTENDED)
  - `fx:DocumentFileName`: Embedded XML name
  - `fx:DocumentType`: "INVOICE"
  - `fx:Version`: Factur-X version (1.0.07)

**What is verified:**
- ✅ Metadata conforming to ISO 16684-1
- ✅ Correct declared Factur-X profile
- ✅ Supported Factur-X version

### 4. Electronic signatures
**Detection and analysis:**
- Presence of `/Sig` dictionaries in PDF
- Signature type: PAdES (PDF Advanced Electronic Signature)
- Information extraction:
  - Signer name (`/Name`)
  - Signing date (`/M`)
  - Signature reason (`/Reason`)
  - Signature location (`/Location`)
  - Signature type (approval, certification)

**What is verified:**
- ✅ Presence of signatures or seals
- ✅ Number of signatures (single or multi-signature)
- ℹ️ No cryptographic verification (requires certificates)

## Parameters

- **pdf_file** (required): The Factur-X PDF file to validate
- **profile** (optional): Expected profile. If absent, auto-detected from XML
- **use_verapdf** (optional, default=false): Enable strict PDF/A validation with VeraPDF
  - `false`: Fast metadata validation (2-3 seconds)
  - `true`: Complete ISO 19005-3 validation (15-30 seconds, **recommended for production**)

## Detailed response

```json
{
  "isCompliant": true,
  "xml": {
    "present": true,
    "compliant": true,
    "profile": "EN16931",
    "errors": []
  },
  "pdfa": {
    "compliant": true,
    "version": "PDF/A-3B",
    "method": "verapdf",
    "errors": []
  },
  "xmp": {
    "present": true,
    "compliant": true,
    "metadata": {...}
  },
  "signatures": {
    "present": true,
    "count": 1,
    "details": [...]
  }
}
```

## Use cases

- **Before sending**: Validate generated invoice before transmission to client
- **On reception**: Verify compliance of invoice received from supplier
- **Audit**: Check quality of invoice batches
- **Legal compliance**: Ensure B2B/B2G obligations are met in France
- **Debugging**: Identify issues in generation process
- **Archiving**: Guarantee long-term validity (PDF/A-3)

## Processing time

- Basic validation: 2-3 seconds
- VeraPDF validation: 15-30 seconds (depends on PDF size)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest
*/
func (a *InvoiceProcessingAPIService) ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPost(ctx context.Context) ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest {
	return ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PDFValidationResultAPI
func (a *InvoiceProcessingAPIService) ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostExecute(r ApiValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPostRequest) (*PDFValidationResultAPI, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PDFValidationResultAPI
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.ValidateFacturxPdfApiV1ProcessingValidateFacturxPdfPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-facturx-pdf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	if r.useVerapdf != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_verapdf", r.useVerapdf, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	pdfFile *os.File
	profile *FacturXProfile
	useVerapdf *bool
}

// Factur-X PDF file to validate (.pdf format).
func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) PdfFile(pdfFile *os.File) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) Profile(profile FacturXProfile) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.profile = &profile
	return r
}

// Enable strict PDF/A validation with VeraPDF (recommended for production). May take several seconds.
func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) UseVerapdf(useVerapdf bool) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	r.useVerapdf = &useVerapdf
	return r
}

func (r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostExecute(r)
}

/*
ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost Validate a Factur-X PDF (asynchronous with polling)

Validates a Factur-X PDF asynchronously with polling system.

## How it works

1. **Submission**: PDF is queued for asynchronous validation
2. **Immediate return**: You receive a `task_id` (HTTP 202)
3. **Tracking**: Use the `/tasks/{task_id}/status` endpoint to track progress

## Advantages of asynchronous mode

- **No timeout**: Ideal for large PDFs or VeraPDF validation (which can take several seconds)
- **Scalability**: Validations are processed by dedicated Celery workers
- **Status tracking**: Allows you to monitor validation progress
- **Non-blocking**: Your client doesn't wait during validation

## When to use this mode?

- **VeraPDF validation enabled** (`use_verapdf=True`): Strict validation can take 2-10 seconds
- **Large PDF files**: PDFs > 1 MB
- **Batch processing**: Validating multiple invoices in parallel
- **Asynchronous integration**: Your system supports polling

## Checks performed

### 1. Factur-X XML extraction and validation
- Verifies presence of Factur-X compliant embedded XML file
- Automatically detects profile used (MINIMUM, BASIC, EN16931, EXTENDED)
- Validates XML against detected profile's Schematron rules

### 2. PDF/A compliance
- **Without VeraPDF**: Basic metadata validation (fast, ~100ms)
- **With VeraPDF**: Strict ISO 19005 validation (146+ rules, 2-10s)
  - Detects PDF/A version (PDF/A-1, PDF/A-3, etc.)
  - Detailed non-compliance reports

### 3. XMP metadata
- Verifies presence of XMP metadata in PDF
- Validates Factur-X metadata compliance (profile, version)
- Extracts all available XMP metadata

### 4. Electronic signatures
- Detects presence of electronic signatures or seals
- Extracts information about each signature (signer, date, reason)
- Counts number of signatures present

## Parameters

- **pdf_file**: The Factur-X PDF file to validate
- **profile**: Expected Factur-X profile (optional). If not specified, profile
  will be auto-detected from embedded XML file.
- **use_verapdf**: Enable strict PDF/A validation with VeraPDF.
  ⚠️ **Warning**: VeraPDF can take 2-10 seconds depending on PDF size.
  Recommended only in asynchronous mode to avoid timeouts.

## Retrieving results

After submission, use `GET /tasks/{task_id}/status` endpoint to retrieve the result.

**Polling example**:
```python
import requests
import time

# 1. Submit task
response = requests.post("/validate-facturx-async", files={"pdf_file": pdf_file})
task_id = response.json()["taskId"]

# 2. Poll every 2 seconds
while True:
    status_response = requests.get(f"/tasks/{task_id}/status")
    status = status_response.json()

    if status["status"] == "SUCCESS":
        result = status["result"]["validation_result"]
        print(f"Compliant: {result['is_compliant']}")
        break
    elif status["status"] == "FAILURE":
        print(f"Error: {status['result']['errorMessage']}")
        break

    time.sleep(2)  # Wait 2 seconds before next check
```

## Use cases

- Validate invoices before sending with VeraPDF (strict validation)
- Process invoice batches in parallel
- Integrate validation into an asynchronous pipeline
- Validate large PDFs without timeout risk

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest
*/
func (a *InvoiceProcessingAPIService) ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost(ctx context.Context) ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest {
	return ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *InvoiceProcessingAPIService) ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostExecute(r ApiValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPostRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.ValidateFacturxPdfAsyncApiV1ProcessingValidateFacturxAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-facturx-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	if r.useVerapdf != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_verapdf", r.useVerapdf, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	pdfFile *os.File
}

// PDF file to validate (will be analyzed to detect and validate signatures)
func (r ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest) PdfFile(pdfFile *os.File) ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostExecute(r)
}

/*
ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost Validate electronic signatures of a PDF

Validates electronic signatures present in an uploaded PDF.

    **Verifications performed**:
    - Presence of signatures
    - Document integrity (not modified since signing)
    - Certificate validity
    - Chain of trust (if available)
    - Presence of timestamp (PAdES-B-T)
    - Validation data (PAdES-B-LT)

    **Supported standards**: PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.

    **⚠️ Note**: This validation is technical (cryptographic integrity). Legal validity
    depends on the eIDAS level of the certificate (SES/AdES/QES) and the context of use.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest
*/
func (a *InvoiceProcessingAPIService) ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost(ctx context.Context) ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest {
	return ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *InvoiceProcessingAPIService) ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostExecute(r ApiValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.ValidatePdfSignatureEndpointApiV1ProcessingValidatePdfSignaturePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-pdf-signature"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValidateXmlApiV1ProcessingValidateXmlPostRequest struct {
	ctx context.Context
	ApiService *InvoiceProcessingAPIService
	xmlFile *os.File
	profile *FacturXProfile
}

// Factur-X XML file to validate (.xml format).
func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) XmlFile(xmlFile *os.File) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	r.xmlFile = xmlFile
	return r
}

// Validation profile (MINIMUM, BASIC, EN16931, EXTENDED).
func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) Profile(profile FacturXProfile) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	r.profile = &profile
	return r
}

func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) Execute() (*ValidationSuccessResponse, *http.Response, error) {
	return r.ApiService.ValidateXmlApiV1ProcessingValidateXmlPostExecute(r)
}

/*
ValidateXmlApiV1ProcessingValidateXmlPost Validate an existing Factur-X XML

Validates a Factur-X XML file against Schematron business rules according to EN 16931 standard.

## Applied Standard

**Schematron ISO/IEC 19757-3**: Business rules validation language for XML
- Semantic validation (beyond XSD syntax)
- European EN 16931 business rules
- French-specific Factur-X rules
- Arithmetic calculations and data consistency

## Profiles and validated rules

### MINIMUM (45 rules)
- Unique invoice identifier
- Dates (issue, due date)
- Party identifiers (SIRET/SIREN)
- Total gross amount

### BASIC (102 rules)
- All MINIMUM rules
- Detailed invoice lines
- Basic VAT calculations
- Payment methods
- References (order, contract)

### EN16931 (178 rules)
- All BASIC rules
- **European rules (BR-xx)**: 81 business rules
- **French rules (FR-xx)**: 12 France-specific rules
- **Advanced calculations (CR-xx)**: 32 calculation rules
- **Standardized codes (CL-xx)**: 52 code lists

### EXTENDED (210+ rules)
- All EN16931 rules
- Logistics information
- Advanced accounting data
- Multiple external references

## Checks performed

### 1. Syntax validation
- Correct XML parsing (UTF-8, well-formed)
- UN/CEFACT namespaces present
- Hierarchical structure respected

### 2. Business rules (BR-xx)
Examples:
- `BR-1`: Invoice total must equal sum of line totals + document-level amounts
- `BR-CO-10`: Sum of VAT base amounts must equal invoice net total
- `BR-16`: Invoice currency code must be in ISO 4217 list

### 3. French rules (FR-xx)
Examples:
- `FR-1`: Supplier SIRET must have 14 digits
- `FR-2`: Customer SIRET must have 14 digits (if present)
- `FR-5`: Intra-EU VAT number must be in format FRxx999999999

### 4. Calculation rules (CR-xx)
- Net + VAT = Gross amounts
- Sum of lines = Document total
- Discounts and surcharges correctly applied
- Compliant rounding (2 decimals for amounts)

### 5. Standardized codes (CL-xx)
- ISO 3166-1 alpha-2 country codes
- ISO 4217 currency codes
- UN/ECE Rec 20 measurement units
- VAT codes (types, categories, exemptions)
- SchemeID for identifiers (0002=SIREN, 0009=SIRET, etc.)

## Validation process

1. **XSLT loading**: Schematron file converted to XSLT (Saxon-HE)
2. **Transformation**: Rules applied to XML
3. **Results analysis**: Extraction of errors (`failed-assert`) and warnings (`successful-report`)
4. **Report**: Structured list of non-conformities

## Responses

**200 OK**: Compliant XML
```json
{
  "message": "XML is compliant with EN16931 profile"
}
```

**400 Bad Request**: Non-compliant XML
```json
{
  "detail": [
    "[BR-1] Invoice total (120.00) does not match calculated sum (100.00 + 20.00)",
    "[FR-1] Supplier SIRET must contain exactly 14 digits"
  ]
}
```

## Use cases

- **Pre-validation**: Verify XML before PDF/A integration
- **Debugging**: Precisely identify generation errors
- **Testing**: Validate test or example XMLs
- **Compliance**: Ensure European and French rules are met
- **Development**: Quick testing without PDF generation

## Processing time

- MINIMUM profile: ~0.5 second
- EN16931 profile: ~1-2 seconds
- EXTENDED profile: ~2-3 seconds

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateXmlApiV1ProcessingValidateXmlPostRequest
*/
func (a *InvoiceProcessingAPIService) ValidateXmlApiV1ProcessingValidateXmlPost(ctx context.Context) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	return ApiValidateXmlApiV1ProcessingValidateXmlPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ValidationSuccessResponse
func (a *InvoiceProcessingAPIService) ValidateXmlApiV1ProcessingValidateXmlPostExecute(r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) (*ValidationSuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ValidationSuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InvoiceProcessingAPIService.ValidateXmlApiV1ProcessingValidateXmlPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-xml"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xmlFile == nil {
		return localVarReturnValue, nil, reportError("xmlFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var xmlFileLocalVarFormFileName string
	var xmlFileLocalVarFileName     string
	var xmlFileLocalVarFileBytes    []byte

	xmlFileLocalVarFormFileName = "xml_file"
	xmlFileLocalVarFile := r.xmlFile

	if xmlFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(xmlFileLocalVarFile)

		xmlFileLocalVarFileBytes = fbs
		xmlFileLocalVarFileName = xmlFileLocalVarFile.Name()
		xmlFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: xmlFileLocalVarFileBytes, fileName: xmlFileLocalVarFileName, formFileName: xmlFileLocalVarFormFileName})
	}
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
