/*
FactPulse REST API

 REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X - Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

API version: 1.0.0
Contact: contact@factpulse.fr
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ChorusProAPIService ChorusProAPI service
type ChorusProAPIService service

type ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest) RequestBody(requestBody map[string]interface{}) ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AjouterFichierApiV1ChorusProTransversesAjouterFichierPostExecute(r)
}

/*
AjouterFichierApiV1ChorusProTransversesAjouterFichierPost Add an attachment

Add an attachment to the current user account.

    **Max size**: 10 MB per file

    **Example payload**:
    ```json
    {
      "pieceJointeFichier": "JVBERi0xLjQKJeLjz9MKNSAwIG9iago8P...",
      "pieceJointeNom": "purchase_order.pdf",
      "pieceJointeTypeMime": "application/pdf",
      "pieceJointeExtension": "PDF"
    }
    ```

    **Returns**: The attachment ID (`pieceJointeIdFichier`) to use in `/factures/completer`.

    **Accepted extensions**: PDF, JPG, PNG, ZIP, XML, etc.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest
*/
func (a *ChorusProAPIService) AjouterFichierApiV1ChorusProTransversesAjouterFichierPost(ctx context.Context) ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest {
	return ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) AjouterFichierApiV1ChorusProTransversesAjouterFichierPostExecute(r ApiAjouterFichierApiV1ChorusProTransversesAjouterFichierPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.AjouterFichierApiV1ChorusProTransversesAjouterFichierPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/transverses/ajouter-fichier"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest) RequestBody(requestBody map[string]interface{}) ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CompleterFactureApiV1ChorusProFacturesCompleterPostExecute(r)
}

/*
CompleterFactureApiV1ChorusProFacturesCompleterPost Complete a suspended invoice (Supplier)

Complete a SUSPENDUE status invoice by adding attachments or a comment.

    **Required status**: SUSPENDUE

    **Possible actions**:
    - Add attachments (supporting documents, purchase orders, etc.)
    - Modify comment

    **Example payload**:
    ```json
    {
      "identifiantFactureCPP": 12345,
      "commentaire": "Here are the requested documents",
      "listePiecesJointes": [
        {
          "pieceJointeIdFichier": 98765,
          "pieceJointeNom": "purchase_order.pdf"
        }
      ]
    }
    ```

    **Note**: Attachments must first be uploaded via `/transverses/ajouter-fichier`.

    **After completion**: The invoice returns to MISE_A_DISPOSITION status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest
*/
func (a *ChorusProAPIService) CompleterFactureApiV1ChorusProFacturesCompleterPost(ctx context.Context) ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest {
	return ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) CompleterFactureApiV1ChorusProFacturesCompleterPostExecute(r ApiCompleterFactureApiV1ChorusProFacturesCompleterPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.CompleterFactureApiV1ChorusProFacturesCompleterPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/completer"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	getInvoiceRequest *GetInvoiceRequest
}

func (r ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest) GetInvoiceRequest(getInvoiceRequest GetInvoiceRequest) ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest {
	r.getInvoiceRequest = &getInvoiceRequest
	return r
}

func (r ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest) Execute() (*GetInvoiceResponse, *http.Response, error) {
	return r.ApiService.ConsulterFactureApiV1ChorusProFacturesConsulterPostExecute(r)
}

/*
ConsulterFactureApiV1ChorusProFacturesConsulterPost Consult invoice status

Retrieves the information and current status of an invoice submitted to Chorus Pro.

    **Returns**:
    - Invoice number and date
    - Total gross amount
    - **Current status**: SOUMISE, VALIDEE, REJETEE, SUSPENDUE, MANDATEE, MISE_EN_PAIEMENT, etc.
    - Recipient structure

    **Use cases**:
    - Track the processing progress of an invoice
    - Check if an invoice has been validated or rejected
    - Get the payment date

    **Polling**: Call this endpoint regularly to track status changes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest
*/
func (a *ChorusProAPIService) ConsulterFactureApiV1ChorusProFacturesConsulterPost(ctx context.Context) ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest {
	return ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetInvoiceResponse
func (a *ChorusProAPIService) ConsulterFactureApiV1ChorusProFacturesConsulterPostExecute(r ApiConsulterFactureApiV1ChorusProFacturesConsulterPostRequest) (*GetInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ConsulterFactureApiV1ChorusProFacturesConsulterPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/consulter"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("getInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.getInvoiceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	getStructureRequest *GetStructureRequest
}

func (r ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest) GetStructureRequest(getStructureRequest GetStructureRequest) ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest {
	r.getStructureRequest = &getStructureRequest
	return r
}

func (r ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest) Execute() (*GetStructureResponse, *http.Response, error) {
	return r.ApiService.ConsulterStructureApiV1ChorusProStructuresConsulterPostExecute(r)
}

/*
ConsulterStructureApiV1ChorusProStructuresConsulterPost Consult structure details

Retrieves detailed information about a Chorus Pro structure.


    **Returns**:
    - Company name
    - Intra-EU VAT number
    - Contact email
    - **Required parameters**: Indicates if service code and/or engagement number are required to submit an invoice

    **Typical step**: Called after `search-structures` to know which fields are mandatory before submitting an invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest
*/
func (a *ChorusProAPIService) ConsulterStructureApiV1ChorusProStructuresConsulterPost(ctx context.Context) ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest {
	return ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetStructureResponse
func (a *ChorusProAPIService) ConsulterStructureApiV1ChorusProStructuresConsulterPostExecute(r ApiConsulterStructureApiV1ChorusProStructuresConsulterPostRequest) (*GetStructureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetStructureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ConsulterStructureApiV1ChorusProStructuresConsulterPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/structures/consulter"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getStructureRequest == nil {
		return localVarReturnValue, nil, reportError("getStructureRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.getStructureRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	idStructureCpp int32
}

func (r ApiListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest) Execute() (*SearchServicesResponse, *http.Response, error) {
	return r.ApiService.ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetExecute(r)
}

/*
ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet List structure services

Retrieves the list of active services for a public structure.

    **Use cases**:
    - List available services for an administration
    - Verify that a service code exists before submitting an invoice

    **Returns**:
    - List of services with their code, label, and status (active/inactive)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param idStructureCpp Chorus Pro structure ID (idStructureCPP)
 @return ApiListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest
*/
func (a *ChorusProAPIService) ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet(ctx context.Context, idStructureCpp int32) ApiListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest {
	return ApiListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest{
		ApiService: a,
		ctx: ctx,
		idStructureCpp: idStructureCpp,
	}
}

// Execute executes the request
//  @return SearchServicesResponse
func (a *ChorusProAPIService) ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetExecute(r ApiListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGetRequest) (*SearchServicesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchServicesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ListerServicesStructureApiV1ChorusProStructuresIdStructureCppServicesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/structures/{id_structure_cpp}/services"
	localVarPath = strings.Replace(localVarPath, "{"+"id_structure_cpp"+"}", url.PathEscape(parameterValueToString(r.idStructureCpp, "idStructureCpp")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	getChorusProIdRequest *GetChorusProIdRequest
}

func (r ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest) GetChorusProIdRequest(getChorusProIdRequest GetChorusProIdRequest) ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest {
	r.getChorusProIdRequest = &getChorusProIdRequest
	return r
}

func (r ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest) Execute() (*GetChorusProIdResponse, *http.Response, error) {
	return r.ApiService.ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostExecute(r)
}

/*
ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost Utility: Get Chorus Pro ID from SIRET

**Convenient utility** to get a structure's Chorus Pro ID from its SIRET.


    This wrapper function combines:
    1. Searching for the structure by SIRET
    2. Extracting the `id_structure_cpp` if a single structure is found

    **Returns**:
    - `id_structure_cpp`: Chorus Pro ID (0 if not found or multiple results)
    - `designation_structure`: Structure name (if found)
    - `message`: Explanatory message

    **Use cases**:
    - Shortcut to directly get the Chorus Pro ID before submitting an invoice
    - Simplified alternative to `search-structures` + manual ID extraction

    **Note**: If multiple structures match the SIRET (rare), returns 0 and an error message.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest
*/
func (a *ChorusProAPIService) ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost(ctx context.Context) ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest {
	return ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetChorusProIdResponse
func (a *ChorusProAPIService) ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostExecute(r ApiObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPostRequest) (*GetChorusProIdResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetChorusProIdResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ObtenirIdChorusProDepuisSiretApiV1ChorusProStructuresObtenirIdDepuisSiretPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/structures/obtenir-id-depuis-siret"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getChorusProIdRequest == nil {
		return localVarReturnValue, nil, reportError("getChorusProIdRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.getChorusProIdRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest) RequestBody(requestBody map[string]interface{}) ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostExecute(r)
}

/*
RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost Search received invoices (Recipient)

Search invoices received by the connected recipient.

    **Filters**:
    - Downloaded / not downloaded
    - Reception dates
    - Status (MISE_A_DISPOSITION, SUSPENDUE, etc.)
    - Supplier

    **Useful indicator**: `factureTelechargeeParDestinataire` indicates whether the invoice has already been downloaded.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest
*/
func (a *ChorusProAPIService) RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost(ctx context.Context) ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest {
	return ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostExecute(r ApiRechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.RechercherFacturesDestinataireApiV1ChorusProFacturesRechercherDestinatairePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/rechercher-destinataire"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest) RequestBody(requestBody map[string]interface{}) ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostExecute(r)
}

/*
RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost Search issued invoices (Supplier)

Search invoices issued by the connected supplier.

    **Available filters**:
    - Invoice number
    - Dates (start/end)
    - Status
    - Recipient structure
    - Amount

    **Use cases**:
    - Track issued invoices
    - Verify statuses
    - Export for accounting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest
*/
func (a *ChorusProAPIService) RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost(ctx context.Context) ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest {
	return ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostExecute(r ApiRechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.RechercherFacturesFournisseurApiV1ChorusProFacturesRechercherFournisseurPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/rechercher-fournisseur"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	searchStructureRequest *SearchStructureRequest
}

func (r ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest) SearchStructureRequest(searchStructureRequest SearchStructureRequest) ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest {
	r.searchStructureRequest = &searchStructureRequest
	return r
}

func (r ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest) Execute() (*SearchStructureResponse, *http.Response, error) {
	return r.ApiService.RechercherStructuresApiV1ChorusProStructuresRechercherPostExecute(r)
}

/*
RechercherStructuresApiV1ChorusProStructuresRechercherPost Search Chorus Pro structures

Search for structures (companies, administrations) registered on Chorus Pro.

    **Use cases**:
    - Find the Chorus Pro ID of a structure from its SIRET
    - Check if a structure is registered on Chorus Pro
    - List structures matching criteria

    **Available filters**:
    - Identifier (SIRET, SIREN, etc.)
    - Company name
    - Identifier type
    - Private structures only

    **Typical step**: Called before `submit-invoice` to get the recipient's `id_structure_cpp`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest
*/
func (a *ChorusProAPIService) RechercherStructuresApiV1ChorusProStructuresRechercherPost(ctx context.Context) ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest {
	return ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchStructureResponse
func (a *ChorusProAPIService) RechercherStructuresApiV1ChorusProStructuresRechercherPostExecute(r ApiRechercherStructuresApiV1ChorusProStructuresRechercherPostRequest) (*SearchStructureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchStructureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.RechercherStructuresApiV1ChorusProStructuresRechercherPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/structures/rechercher"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchStructureRequest == nil {
		return localVarReturnValue, nil, reportError("searchStructureRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchStructureRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest) RequestBody(requestBody map[string]interface{}) ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RecyclerFactureApiV1ChorusProFacturesRecyclerPostExecute(r)
}

/*
RecyclerFactureApiV1ChorusProFacturesRecyclerPost Recycle an invoice (Supplier)

Recycle an invoice with A_RECYCLER status by modifying routing data.

    **Required status**: A_RECYCLER

    **Modifiable fields**:
    - Recipient (`idStructureCPP`)
    - Service code
    - Engagement number

    **Use cases**:
    - Wrong recipient
    - Change of billing service
    - Update engagement number

    **Example payload**:
    ```json
    {
      "identifiantFactureCPP": 12345,
      "idStructureCPP": 67890,
      "codeService": "SERVICE_01",
      "numeroEngagement": "ENG2024001"
    }
    ```

    **Note**: The invoice keeps its number and amounts, only routing fields change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest
*/
func (a *ChorusProAPIService) RecyclerFactureApiV1ChorusProFacturesRecyclerPost(ctx context.Context) ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest {
	return ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) RecyclerFactureApiV1ChorusProFacturesRecyclerPostExecute(r ApiRecyclerFactureApiV1ChorusProFacturesRecyclerPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.RecyclerFactureApiV1ChorusProFacturesRecyclerPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/recycler"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	submitInvoiceRequest *SubmitInvoiceRequest
}

func (r ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest) SubmitInvoiceRequest(submitInvoiceRequest SubmitInvoiceRequest) ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest {
	r.submitInvoiceRequest = &submitInvoiceRequest
	return r
}

func (r ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest) Execute() (*SubmitInvoiceResponse, *http.Response, error) {
	return r.ApiService.SoumettreFactureApiV1ChorusProFacturesSoumettrePostExecute(r)
}

/*
SoumettreFactureApiV1ChorusProFacturesSoumettrePost Submit an invoice to Chorus Pro

Submits an electronic invoice to a public structure via Chorus Pro.


    **Complete workflow**:
    1. **Upload the Factur-X PDF** via `/transverses/ajouter-fichier` → retrieve `pieceJointeId`
    2. **Get the structure ID** via `/structures/rechercher` or `/structures/obtenir-id-depuis-siret`
    3. **Check mandatory parameters** via `/structures/consulter`
    4. **Submit the invoice** with the `piece_jointe_principale_id` obtained in step 1

    **Prerequisites**:
    1. Have the recipient's `id_structure_cpp` (via `/structures/rechercher`)
    2. Know the mandatory parameters (via `/structures/consulter`):
       - Service code if `code_service_doit_etre_renseigne=true`
       - Engagement number if `numero_ej_doit_etre_renseigne=true`
    3. Have uploaded the Factur-X PDF (via `/transverses/ajouter-fichier`)

    **Expected format**:
    - `piece_jointe_principale_id`: ID returned by `/transverses/ajouter-fichier`
    - Amounts: Strings with 2 decimals (e.g., "1250.50")
    - Dates: ISO 8601 format (YYYY-MM-DD)

    **Returns**:
    - `identifiant_facture_cpp`: Chorus Pro ID of the created invoice
    - `numero_flux_depot`: Deposit tracking number

    **Possible statuses after submission**:
    - SOUMISE: Pending validation
    - VALIDEE: Validated by recipient
    - REJETEE: Rejected (data error or business refusal)
    - SUSPENDUE: Pending additional information

    **Note**: Use `/factures/consulter` to track status changes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest
*/
func (a *ChorusProAPIService) SoumettreFactureApiV1ChorusProFacturesSoumettrePost(ctx context.Context) ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest {
	return ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SubmitInvoiceResponse
func (a *ChorusProAPIService) SoumettreFactureApiV1ChorusProFacturesSoumettrePostExecute(r ApiSoumettreFactureApiV1ChorusProFacturesSoumettrePostRequest) (*SubmitInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubmitInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.SoumettreFactureApiV1ChorusProFacturesSoumettrePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/soumettre"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.submitInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("submitInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.submitInvoiceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest) RequestBody(requestBody map[string]interface{}) ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostExecute(r)
}

/*
TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost Download a group of invoices

Download one or more invoices (max 10 recommended) with their attachments.

    **Available formats**:
    - PDF: PDF file only
    - XML: XML file only
    - ZIP: Archive containing PDF + XML + attachments

    **Maximum size**: 120 MB per download

    **Example payload**:
    ```json
    {
      "listeIdentifiantsFactureCPP": [12345, 12346],
      "inclurePiecesJointes": true,
      "formatFichier": "ZIP"
    }
    ```

    **Returns**: The file is base64-encoded in the `fichierBase64` field.

    **Note**: The `factureTelechargeeParDestinataire` flag is automatically updated.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest
*/
func (a *ChorusProAPIService) TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost(ctx context.Context) ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest {
	return ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostExecute(r ApiTelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.TelechargerGroupeFacturesApiV1ChorusProFacturesTelechargerGroupePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/telecharger-groupe"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest) RequestBody(requestBody map[string]interface{}) ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostExecute(r)
}

/*
TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost Process a received invoice (Recipient)

Change the status of a received invoice.

    **Possible statuses**:
    - MISE_A_DISPOSITION: Invoice accepted
    - SUSPENDUE: Pending additional information (reason required)
    - REJETEE: Invoice refused (reason required)
    - MANDATEE: Invoice mandated
    - MISE_EN_PAIEMENT: Invoice being paid
    - COMPTABILISEE: Invoice accounted
    - MISE_A_DISPOSITION_COMPTABLE: Made available to accounting
    - A_RECYCLER: To be recycled
    - COMPLETEE: Completed
    - SERVICE-FAIT: Service rendered
    - PRISE_EN_COMPTE_DESTINATAIRE: Acknowledged
    - TRANSMISE_MOA: Transmitted to MOA

    **Example payload**:
    ```json
    {
      "identifiantFactureCPP": 12345,
      "nouveauStatut": "REJETEE",
      "motifRejet": "Duplicate invoice",
      "commentaire": "Invoice already received under reference ABC123"
    }
    ```

    **Rules**:
    - A reason is **required** for SUSPENDUE and REJETEE
    - Only certain statuses are allowed depending on the invoice's current status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest
*/
func (a *ChorusProAPIService) TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost(ctx context.Context) ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest {
	return ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostExecute(r ApiTraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.TraiterFactureRecueApiV1ChorusProFacturesTraiterFactureRecuePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/traiter-facture-recue"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest) RequestBody(requestBody map[string]interface{}) ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostExecute(r)
}

/*
ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost Consult an invoice (Validator)

Retrieves detailed information about an invoice for validators.

**Use case**: Called by validators (public sector) to consult invoice details
before approving or rejecting it.

**Required payload**:
```json
{
  "idFacture": 123456789
}
```

**Returns**: Complete invoice details including amounts, dates, attachments, and current status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest
*/
func (a *ChorusProAPIService) ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost(ctx context.Context) ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest {
	return ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostExecute(r ApiValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ValideurConsulterFactureApiV1ChorusProFacturesValideurConsulterPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/valideur/consulter"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest) RequestBody(requestBody map[string]interface{}) ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostExecute(r)
}

/*
ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost Search invoices to validate (Validator)

Search invoices pending validation by the connected validator.

    **Role**: Validator in the internal validation workflow.

    **Filters**: Dates, structure, service, etc.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest
*/
func (a *ChorusProAPIService) ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost(ctx context.Context) ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest {
	return ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostExecute(r ApiValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ValideurRechercherFacturesApiV1ChorusProFacturesValideurRechercherPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/valideur/rechercher"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest struct {
	ctx context.Context
	ApiService *ChorusProAPIService
	requestBody *map[string]interface{}
}

func (r ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest) RequestBody(requestBody map[string]interface{}) ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostExecute(r)
}

/*
ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost Validate or reject an invoice (Validator)

Validate or reject an invoice pending validation.

    **Actions**:
    - Validate: The invoice moves to the next status in the workflow
    - Reject: The invoice is rejected (reason required)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest
*/
func (a *ChorusProAPIService) ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost(ctx context.Context) ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest {
	return ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ChorusProAPIService) ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostExecute(r ApiValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChorusProAPIService.ValideurTraiterFactureApiV1ChorusProFacturesValideurTraiterPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/chorus-pro/factures/valideur/traiter"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
