/*
API REST FactPulse

 API REST pour la facturation électronique en France : Factur-X, AFNOR PDP/PA, signatures électroniques.  ## 🎯 Fonctionnalités principales  ### 📄 Génération de factures Factur-X - **Formats** : XML seul ou PDF/A-3 avec XML embarqué - **Profils** : MINIMUM, BASIC, EN16931, EXTENDED - **Normes** : EN 16931 (directive UE 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Format simplifié** : Génération à partir de SIRET + auto-enrichissement (API Chorus Pro + Recherche Entreprises)  ### ✅ Validation et conformité - **Validation XML** : Schematron (45 à 210+ règles selon profil) - **Validation PDF** : PDF/A-3, métadonnées XMP Factur-X, signatures électroniques - **VeraPDF** : Validation stricte PDF/A (146+ règles ISO 19005-3) - **Traitement asynchrone** : Support Celery pour validations lourdes (VeraPDF)  ### 📡 Intégration AFNOR PDP/PA (XP Z12-013) - **Soumission de flux** : Envoi de factures vers Plateformes de Dématérialisation Partenaires - **Recherche de flux** : Consultation des factures soumises - **Téléchargement** : Récupération des PDF/A-3 avec XML - **Directory Service** : Recherche d'entreprises (SIREN/SIRET) - **Multi-client** : Support de plusieurs configs PDP par utilisateur (stored credentials ou zero-storage)  ### ✍️ Signature électronique PDF - **Standards** : PAdES-B-B, PAdES-B-T (horodatage RFC 3161), PAdES-B-LT (archivage long terme) - **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO) - **Validation** : Vérification intégrité cryptographique et certificats - **Génération de certificats** : Certificats X.509 auto-signés pour tests  ### 🔄 Traitement asynchrone - **Celery** : Génération, validation et signature asynchrones - **Polling** : Suivi d'état via `/taches/{id_tache}/statut` - **Pas de timeout** : Idéal pour gros fichiers ou validations lourdes  ## 🔒 Authentification  Toutes les requêtes nécessitent un **token JWT** dans le header Authorization : ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### Comment obtenir un token JWT ?  #### 🔑 Méthode 1 : API `/api/token/` (Recommandée)  **URL :** `https://www.factpulse.fr/api/token/`  Cette méthode est **recommandée** pour l'intégration dans vos applications et workflows CI/CD.  **Prérequis :** Avoir défini un mot de passe sur votre compte  **Pour les utilisateurs inscrits via email/password :** - Vous avez déjà un mot de passe, utilisez-le directement  **Pour les utilisateurs inscrits via OAuth (Google/GitHub) :** - Vous devez d'abord définir un mot de passe sur : https://www.factpulse.fr/accounts/password/set/ - Une fois le mot de passe créé, vous pourrez utiliser l'API  **Exemple de requête :** ```bash curl -X POST https://www.factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"votre_email@example.com\",     \"password\": \"votre_mot_de_passe\"   }' ```  **Réponse :** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Token d'accès (validité: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Token de rafraîchissement (validité: 7 jours) } ```  **Avantages :** - ✅ Automatisation complète (CI/CD, scripts) - ✅ Gestion programmatique des tokens - ✅ Support du refresh token pour renouveler automatiquement l'accès - ✅ Intégration facile dans n'importe quel langage/outil  #### 🖥️ Méthode 2 : Génération via Dashboard (Alternative)  **URL :** https://www.factpulse.fr/dashboard/  Cette méthode convient pour des tests rapides ou une utilisation occasionnelle via l'interface graphique.  **Fonctionnement :** - Connectez-vous au dashboard - Utilisez les boutons \"Generate Test Token\" ou \"Generate Production Token\" - Fonctionne pour **tous** les utilisateurs (OAuth et email/password), sans nécessiter de mot de passe  **Types de tokens :** - **Token Test** : Validité 24h, quota 1000 appels/jour (gratuit) - **Token Production** : Validité 7 jours, quota selon votre forfait  **Avantages :** - ✅ Rapide pour tester l'API - ✅ Aucun mot de passe requis - ✅ Interface visuelle simple  **Inconvénients :** - ❌ Nécessite une action manuelle - ❌ Pas de refresh token - ❌ Moins adapté pour l'automatisation  ### 📚 Documentation complète  Pour plus d'informations sur l'authentification et l'utilisation de l'API : https://www.factpulse.fr/documentation-api/     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// SignatureLectroniqueAPIService SignatureLectroniqueAPI service
type SignatureLectroniqueAPIService service

type ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest struct {
	ctx context.Context
	ApiService *SignatureLectroniqueAPIService
	generateCertificateRequest *GenerateCertificateRequest
}

func (r ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest) GenerateCertificateRequest(generateCertificateRequest GenerateCertificateRequest) ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest {
	r.generateCertificateRequest = &generateCertificateRequest
	return r
}

func (r ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest) Execute() (*GenerateCertificateResponse, *http.Response, error) {
	return r.ApiService.GenererCertificatTestApiV1TraitementGenererCertificatTestPostExecute(r)
}

/*
GenererCertificatTestApiV1TraitementGenererCertificatTestPost Générer un certificat X.509 auto-signé de test

Génère un certificat X.509 auto-signé pour les tests de signature électronique PDF.

    **⚠️ ATTENTION : Certificat de TEST uniquement !**

    Ce certificat est :
    - ✅ Adapté pour tests et développement
    - ✅ Compatible signature PDF (PAdES)
    - ✅ Conforme eIDAS niveau **SES** (Simple Electronic Signature)
    - ❌ **JAMAIS utilisable en production**
    - ❌ **Non reconnu** par les navigateurs et lecteurs PDF
    - ❌ **Aucune valeur juridique**

    ## Niveaux eIDAS

    - **SES** (Simple) : Certificat auto-signé ← Généré par cet endpoint
    - **AdES** (Advanced) : Certificat CA commerciale (Let's Encrypt, etc.)
    - **QES** (Qualified) : Certificat qualifié PSCO (CertEurope, Universign, etc.)

    ## Utilisation

    Une fois généré, le certificat peut être :

    1. **Enregistré dans Django** (recommandé) :
       - Django Admin > Certificats de signature
       - Upload `certificat_pem` et `cle_privee_pem`

    2. **Utilisé directement** :
       - Signer un PDF avec `/signer-pdf`
       - Le certificat sera automatiquement utilisé

    ## Exemple d'appel

    ```bash
    curl -X POST "https://www.factpulse.fr/api/facturation/generer-certificat-test" \
      -H "Authorization: Bearer eyJ0eXAi..." \
      -H "Content-Type: application/json" \
      -d '{
        "cn": "Test Client XYZ",
        "organisation": "Client XYZ SARL",
        "email": "contact@xyz.fr",
        "duree_jours": 365
      }'
    ```

    ## Cas d'usage

    - Tests de signature PDF en développement
    - POC de signature électronique
    - Formation et démos
    - Tests d'intégration automatisés

    ## Conformité technique

    Certificat généré avec :
    - Clé RSA 2048 ou 4096 bits
    - Algorithme SHA-256
    - Extensions Key Usage : `digitalSignature`, `contentCommitment` (non-repudiation)
    - Extensions Extended Key Usage : `codeSigning`, `emailProtection`
    - Validité : 1 jour à 10 ans (configurable)
    - Format : PEM (certificat et clé)
    - Optionnel : PKCS#12 (.p12)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest
*/
func (a *SignatureLectroniqueAPIService) GenererCertificatTestApiV1TraitementGenererCertificatTestPost(ctx context.Context) ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest {
	return ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GenerateCertificateResponse
func (a *SignatureLectroniqueAPIService) GenererCertificatTestApiV1TraitementGenererCertificatTestPostExecute(r ApiGenererCertificatTestApiV1TraitementGenererCertificatTestPostRequest) (*GenerateCertificateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GenerateCertificateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignatureLectroniqueAPIService.GenererCertificatTestApiV1TraitementGenererCertificatTestPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/traitement/generer-certificat-test"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.generateCertificateRequest == nil {
		return localVarReturnValue, nil, reportError("generateCertificateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.generateCertificateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignerPdfApiV1TraitementSignerPdfPostRequest struct {
	ctx context.Context
	ApiService *SignatureLectroniqueAPIService
	fichierPdf *os.File
	raison *string
	localisation *string
	contact *string
	fieldName *string
	usePadesLt *bool
	useTimestamp *bool
}

// Fichier PDF à signer (sera traité puis retourné signé en base64)
func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) FichierPdf(fichierPdf *os.File) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.fichierPdf = fichierPdf
	return r
}

func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) Raison(raison string) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.raison = &raison
	return r
}

func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) Localisation(localisation string) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.localisation = &localisation
	return r
}

func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) Contact(contact string) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.contact = &contact
	return r
}

// Nom du champ de signature PDF
func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) FieldName(fieldName string) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.fieldName = &fieldName
	return r
}

// Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL.
func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) UsePadesLt(usePadesLt bool) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.usePadesLt = &usePadesLt
	return r
}

// Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T)
func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) UseTimestamp(useTimestamp bool) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	r.useTimestamp = &useTimestamp
	return r
}

func (r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignerPdfApiV1TraitementSignerPdfPostExecute(r)
}

/*
SignerPdfApiV1TraitementSignerPdfPost Signer un PDF avec le certificat du client (PAdES-B-LT)

Signe un PDF uploadé avec le certificat électronique configuré pour le client (via client_uid du JWT).

    **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).

    **Niveaux eIDAS** : SES (auto-signé), AdES (CA commerciale), QES (PSCO - hors scope).

    **⚠️ Disclaimer légal** : Les signatures générées sont des cachets électroniques au sens
    du règlement eIDAS. Le niveau de validité juridique dépend du certificat utilisé (SES/AdES/QES).
    FactPulse ne fournit pas de certificats qualifiés QES - vous devez obtenir un certificat auprès
    d'un PSCO (Prestataire de Services de Confiance qualifié) pour une validité juridique maximale.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignerPdfApiV1TraitementSignerPdfPostRequest
*/
func (a *SignatureLectroniqueAPIService) SignerPdfApiV1TraitementSignerPdfPost(ctx context.Context) ApiSignerPdfApiV1TraitementSignerPdfPostRequest {
	return ApiSignerPdfApiV1TraitementSignerPdfPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SignatureLectroniqueAPIService) SignerPdfApiV1TraitementSignerPdfPostExecute(r ApiSignerPdfApiV1TraitementSignerPdfPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignatureLectroniqueAPIService.SignerPdfApiV1TraitementSignerPdfPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/traitement/signer-pdf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fichierPdf == nil {
		return localVarReturnValue, nil, reportError("fichierPdf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fichierPdfLocalVarFormFileName string
	var fichierPdfLocalVarFileName     string
	var fichierPdfLocalVarFileBytes    []byte

	fichierPdfLocalVarFormFileName = "fichier_pdf"
	fichierPdfLocalVarFile := r.fichierPdf

	if fichierPdfLocalVarFile != nil {
		fbs, _ := io.ReadAll(fichierPdfLocalVarFile)

		fichierPdfLocalVarFileBytes = fbs
		fichierPdfLocalVarFileName = fichierPdfLocalVarFile.Name()
		fichierPdfLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fichierPdfLocalVarFileBytes, fileName: fichierPdfLocalVarFileName, formFileName: fichierPdfLocalVarFormFileName})
	}
	if r.raison != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "raison", r.raison, "", "")
	}
	if r.localisation != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "localisation", r.localisation, "", "")
	}
	if r.contact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contact", r.contact, "", "")
	}
	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "field_name", r.fieldName, "", "")
	}
	if r.usePadesLt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_pades_lt", r.usePadesLt, "", "")
	}
	if r.useTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_timestamp", r.useTimestamp, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest struct {
	ctx context.Context
	ApiService *SignatureLectroniqueAPIService
	fichierPdf *os.File
	raison *string
	localisation *string
	contact *string
	fieldName *string
	usePadesLt *bool
	useTimestamp *bool
}

// Fichier PDF à signer (traité de manière asynchrone)
func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) FichierPdf(fichierPdf *os.File) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.fichierPdf = fichierPdf
	return r
}

func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) Raison(raison string) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.raison = &raison
	return r
}

func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) Localisation(localisation string) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.localisation = &localisation
	return r
}

func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) Contact(contact string) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.contact = &contact
	return r
}

// Nom du champ de signature PDF
func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) FieldName(fieldName string) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.fieldName = &fieldName
	return r
}

// Activer PAdES-B-LT (archivage long terme avec données de validation embarquées). NÉCESSITE un certificat avec accès OCSP/CRL.
func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) UsePadesLt(usePadesLt bool) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.usePadesLt = &usePadesLt
	return r
}

// Activer l&#39;horodatage RFC 3161 avec FreeTSA (PAdES-B-T)
func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) UseTimestamp(useTimestamp bool) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	r.useTimestamp = &useTimestamp
	return r
}

func (r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostExecute(r)
}

/*
SignerPdfAsyncApiV1TraitementSignerPdfAsyncPost Signer un PDF de manière asynchrone (Celery)

Signe un PDF uploadé de manière asynchrone via une tâche Celery.

    **Différence avec /signer-pdf** :
    - `/signer-pdf` : Signature synchrone (blocage jusqu'à la fin)
    - `/signer-pdf-async` : Signature asynchrone (retourne immédiatement un task_id)

    **Avantages de l'async** :
    - Pas de timeout pour les gros fichiers
    - Pas de blocage du worker FastAPI
    - Possibilité de suivre la progression via le task_id
    - Idéal pour les traitements par lot

    **Standards supportés** : PAdES-B-B, PAdES-B-T (horodatage), PAdES-B-LT (archivage long terme).

    **⚠️ Disclaimer légal** : Identique à /signer-pdf (voir documentation de cet endpoint).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest
*/
func (a *SignatureLectroniqueAPIService) SignerPdfAsyncApiV1TraitementSignerPdfAsyncPost(ctx context.Context) ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest {
	return ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SignatureLectroniqueAPIService) SignerPdfAsyncApiV1TraitementSignerPdfAsyncPostExecute(r ApiSignerPdfAsyncApiV1TraitementSignerPdfAsyncPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignatureLectroniqueAPIService.SignerPdfAsyncApiV1TraitementSignerPdfAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/traitement/signer-pdf-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fichierPdf == nil {
		return localVarReturnValue, nil, reportError("fichierPdf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fichierPdfLocalVarFormFileName string
	var fichierPdfLocalVarFileName     string
	var fichierPdfLocalVarFileBytes    []byte

	fichierPdfLocalVarFormFileName = "fichier_pdf"
	fichierPdfLocalVarFile := r.fichierPdf

	if fichierPdfLocalVarFile != nil {
		fbs, _ := io.ReadAll(fichierPdfLocalVarFile)

		fichierPdfLocalVarFileBytes = fbs
		fichierPdfLocalVarFileName = fichierPdfLocalVarFile.Name()
		fichierPdfLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fichierPdfLocalVarFileBytes, fileName: fichierPdfLocalVarFileName, formFileName: fichierPdfLocalVarFormFileName})
	}
	if r.raison != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "raison", r.raison, "", "")
	}
	if r.localisation != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "localisation", r.localisation, "", "")
	}
	if r.contact != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contact", r.contact, "", "")
	}
	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "field_name", r.fieldName, "", "")
	}
	if r.usePadesLt != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_pades_lt", r.usePadesLt, "", "")
	}
	if r.useTimestamp != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "use_timestamp", r.useTimestamp, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest struct {
	ctx context.Context
	ApiService *SignatureLectroniqueAPIService
	fichierPdf *os.File
}

// Fichier PDF à valider (sera analysé pour détecter et valider les signatures)
func (r ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest) FichierPdf(fichierPdf *os.File) ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest {
	r.fichierPdf = fichierPdf
	return r
}

func (r ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostExecute(r)
}

/*
ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost Valider les signatures électroniques d'un PDF

Valide les signatures électroniques présentes dans un PDF uploadé.

    **Vérifications effectuées** :
    - Présence de signatures
    - Intégrité du document (non modifié depuis signature)
    - Validité des certificats
    - Chaîne de confiance (si disponible)
    - Présence d'horodatage (PAdES-B-T)
    - Données de validation (PAdES-B-LT)

    **Standards supportés** : PAdES-B-B, PAdES-B-T, PAdES-B-LT, ISO 32000-2.

    **⚠️ Note** : Cette validation est technique (intégrité cryptographique). La validité juridique
    dépend du niveau eIDAS du certificat (SES/AdES/QES) et du contexte d'utilisation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest
*/
func (a *SignatureLectroniqueAPIService) ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost(ctx context.Context) ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest {
	return ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SignatureLectroniqueAPIService) ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostExecute(r ApiValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignatureLectroniqueAPIService.ValiderSignaturePdfEndpointApiV1TraitementValiderSignaturePdfPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/traitement/valider-signature-pdf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fichierPdf == nil {
		return localVarReturnValue, nil, reportError("fichierPdf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fichierPdfLocalVarFormFileName string
	var fichierPdfLocalVarFileName     string
	var fichierPdfLocalVarFileBytes    []byte

	fichierPdfLocalVarFormFileName = "fichier_pdf"
	fichierPdfLocalVarFile := r.fichierPdf

	if fichierPdfLocalVarFile != nil {
		fbs, _ := io.ReadAll(fichierPdfLocalVarFile)

		fichierPdfLocalVarFileBytes = fbs
		fichierPdfLocalVarFileName = fichierPdfLocalVarFile.Name()
		fichierPdfLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fichierPdfLocalVarFileBytes, fileName: fichierPdfLocalVarFileName, formFileName: fichierPdfLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
