/*
FactPulse REST API

 REST API for electronic invoicing in France: Factur-X (CII), UBL 2.1, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Invoice Generation - **Formats**: CII XML, UBL 2.1 XML, or Factur-X PDF/A-3 - **Profiles** (CII/PDF): MINIMUM, BASIC, EN16931, EXTENDED - **UBL**: Always EN16931 compliant - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT), UBL 2.1 (OASIS) - **Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Factur-X - Validation - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules)  ### ✍️ Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification  ### 📋 Flux 6 - Invoice Lifecycle (CDAR) - **CDAR Messages**: Acknowledgements, invoice statuses - **PPF Statuses**: REFUSED (210), PAID (212)  ### 📊 Flux 10 - E-Reporting - **Tax Declarations**: International B2B, B2C - **Flow Types**: 10.1 (B2B transactions), 10.2 (B2B payments), 10.3 (B2C transactions), 10.4 (B2C payments)  ### 📡 AFNOR PDP/PA (XP Z12-013) - **Flow Service**: Submit and search flows to PDPs - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user  ### 🏛️ Chorus Pro - **Public Sector Invoicing**: Complete API for Chorus Pro  ### ⏳ Async Tasks - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **Webhooks**: Automatic notifications when tasks complete  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

API version: 1.0.0
Contact: contact@factpulse.fr
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package factpulse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// ValidationAPIService ValidationAPI service
type ValidationAPIService service

type ApiValidateXmlApiV1ProcessingValidateXmlPostRequest struct {
	ctx context.Context
	ApiService *ValidationAPIService
	xmlFile *os.File
	profile *APIProfile
	skipBrFr *bool
}

// CII (Factur-X) or UBL XML file to validate (.xml format). Format is auto-detected.
func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) XmlFile(xmlFile *os.File) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	r.xmlFile = xmlFile
	return r
}

// Validation profile (MINIMUM, BASIC, EN16931, EXTENDED). Used for CII only; ignored for UBL (always EN16931).
func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) Profile(profile APIProfile) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	r.profile = &profile
	return r
}

func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) SkipBrFr(skipBrFr bool) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	r.skipBrFr = &skipBrFr
	return r
}

func (r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) Execute() (*ValidationSuccessResponse, *http.Response, error) {
	return r.ApiService.ValidateXmlApiV1ProcessingValidateXmlPostExecute(r)
}

/*
ValidateXmlApiV1ProcessingValidateXmlPost Validate a CII or UBL XML against Schematron rules

Validates a CII (Factur-X) or UBL XML file against Schematron business rules.

The XML format is **auto-detected** from namespace:
- CII XML → validated with EN16931-CII + profile-specific + BR-FR-CII Schematrons
- UBL XML → validated with EN16931-UBL + BR-FR-UBL Schematrons

## Applied Standard

**Schematron ISO/IEC 19757-3**: Business rules validation language for XML
- Semantic validation (beyond XSD syntax)
- European EN 16931 business rules
- French-specific rules (BR-FR-CII or BR-FR-UBL)
- Arithmetic calculations and data consistency

## Profiles and validated rules (CII only)

### MINIMUM (45 rules)
- Unique invoice identifier
- Dates (issue, due date)
- Party identifiers (SIRET/SIREN)
- Total gross amount

### BASIC (102 rules)
- All MINIMUM rules
- Detailed invoice lines
- Basic VAT calculations
- Payment methods
- References (order, contract)

### EN16931 (178 rules)
- All BASIC rules
- **European rules (BR-xx)**: 81 business rules
- **French rules (FR-xx)**: 12 France-specific rules
- **Advanced calculations (CR-xx)**: 32 calculation rules
- **Standardized codes (CL-xx)**: 52 code lists

### EXTENDED (210+ rules)
- All EN16931 rules
- Logistics information
- Advanced accounting data
- Multiple external references

## Checks performed

### 1. Syntax validation
- Correct XML parsing (UTF-8, well-formed)
- UN/CEFACT namespaces present
- Hierarchical structure respected

### 2. Business rules (BR-xx)
Examples:
- `BR-1`: Invoice total must equal sum of line totals + document-level amounts
- `BR-CO-10`: Sum of VAT base amounts must equal invoice net total
- `BR-16`: Invoice currency code must be in ISO 4217 list

### 3. French rules (FR-xx)
Examples:
- `FR-1`: Supplier SIRET must have 14 digits
- `FR-2`: Customer SIRET must have 14 digits (if present)
- `FR-5`: Intra-EU VAT number must be in format FRxx999999999

### 4. Calculation rules (CR-xx)
- Net + VAT = Gross amounts
- Sum of lines = Document total
- Discounts and surcharges correctly applied
- Compliant rounding (2 decimals for amounts)

### 5. Standardized codes (CL-xx)
- ISO 3166-1 alpha-2 country codes
- ISO 4217 currency codes
- UN/ECE Rec 20 measurement units
- VAT codes (types, categories, exemptions)
- SchemeID for identifiers (0002=SIREN, 0009=SIRET, etc.)

## Validation process

1. **XSLT loading**: Schematron file converted to XSLT (Saxon-HE)
2. **Transformation**: Rules applied to XML
3. **Results analysis**: Extraction of errors (`failed-assert`) and warnings (`successful-report`)
4. **Report**: Structured list of non-conformities

## Responses

**200 OK**: Compliant XML
```json
{
  "message": "XML is compliant with EN16931 profile"
}
```

**400 Bad Request**: Non-compliant XML
```json
{
  "detail": [
    "[BR-1] Invoice total (120.00) does not match calculated sum (100.00 + 20.00)",
    "[FR-1] Supplier SIRET must contain exactly 14 digits"
  ]
}
```

## Use cases

- **Pre-validation**: Verify XML before PDF/A integration
- **Debugging**: Precisely identify generation errors
- **Testing**: Validate test or example XMLs
- **Compliance**: Ensure European and French rules are met
- **Development**: Quick testing without PDF generation

## Processing time

- MINIMUM profile: ~0.5 second
- EN16931 profile: ~1-2 seconds
- EXTENDED profile: ~2-3 seconds

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiValidateXmlApiV1ProcessingValidateXmlPostRequest
*/
func (a *ValidationAPIService) ValidateXmlApiV1ProcessingValidateXmlPost(ctx context.Context) ApiValidateXmlApiV1ProcessingValidateXmlPostRequest {
	return ApiValidateXmlApiV1ProcessingValidateXmlPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ValidationSuccessResponse
func (a *ValidationAPIService) ValidateXmlApiV1ProcessingValidateXmlPostExecute(r ApiValidateXmlApiV1ProcessingValidateXmlPostRequest) (*ValidationSuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ValidationSuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ValidationAPIService.ValidateXmlApiV1ProcessingValidateXmlPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/processing/validate-xml"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xmlFile == nil {
		return localVarReturnValue, nil, reportError("xmlFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var xmlFileLocalVarFormFileName string
	var xmlFileLocalVarFileName     string
	var xmlFileLocalVarFileBytes    []byte

	xmlFileLocalVarFormFileName = "xml_file"
	xmlFileLocalVarFile := r.xmlFile

	if xmlFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(xmlFileLocalVarFile)

		xmlFileLocalVarFileBytes = fbs
		xmlFileLocalVarFileName = xmlFileLocalVarFile.Name()
		xmlFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: xmlFileLocalVarFileBytes, fileName: xmlFileLocalVarFileName, formFileName: xmlFileLocalVarFormFileName})
	}
	if r.profile != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "profile", r.profile, "", "")
	}
	if r.skipBrFr != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "skip_br_fr", r.skipBrFr, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v FactureElectroniqueRestApiSchemasValidationValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
