/*
FactPulse REST API

 REST API for electronic invoicing in France: Factur-X, AFNOR PDP/PA, electronic signatures.  ## 🎯 Main Features  ### 📄 Factur-X Invoice Generation - **Formats**: XML only or PDF/A-3 with embedded XML - **Profiles**: MINIMUM, BASIC, EN16931, EXTENDED - **Standards**: EN 16931 (EU directive 2014/55), ISO 19005-3 (PDF/A-3), CII (UN/CEFACT) - **🆕 Simplified Format**: Generation from SIRET + auto-enrichment (Chorus Pro API + Business Search)  ### ✅ Validation and Compliance - **XML Validation**: Schematron (45 to 210+ rules depending on profile) - **PDF Validation**: PDF/A-3, Factur-X XMP metadata, electronic signatures - **VeraPDF**: Strict PDF/A validation (146+ ISO 19005-3 rules) - **Asynchronous Processing**: Celery support for heavy validations (VeraPDF)  ### 📡 AFNOR PDP/PA Integration (XP Z12-013) - **Flow Submission**: Send invoices to Partner Dematerialization Platforms - **Flow Search**: View submitted invoices - **Download**: Retrieve PDF/A-3 with XML - **Directory Service**: Company search (SIREN/SIRET) - **Multi-client**: Support for multiple PDP configs per user (stored credentials or zero-storage)  ### ✍️ PDF Electronic Signature - **Standards**: PAdES-B-B, PAdES-B-T (RFC 3161 timestamping), PAdES-B-LT (long-term archival) - **eIDAS Levels**: SES (self-signed), AdES (commercial CA), QES (QTSP) - **Validation**: Cryptographic integrity and certificate verification - **Certificate Generation**: Self-signed X.509 certificates for testing  ### 🔄 Asynchronous Processing - **Celery**: Asynchronous generation, validation and signing - **Polling**: Status tracking via `/tasks/{task_id}/status` - **No timeout**: Ideal for large files or heavy validations  ## 🔒 Authentication  All requests require a **JWT token** in the Authorization header: ``` Authorization: Bearer YOUR_JWT_TOKEN ```  ### How to obtain a JWT token?  #### 🔑 Method 1: `/api/token/` API (Recommended)  **URL:** `https://factpulse.fr/api/token/`  This method is **recommended** for integration in your applications and CI/CD workflows.  **Prerequisites:** Having set a password on your account  **For users registered via email/password:** - You already have a password, use it directly  **For users registered via OAuth (Google/GitHub):** - You must first set a password at: https://factpulse.fr/accounts/password/set/ - Once the password is created, you can use the API  **Request example:** ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\"   }' ```  **Optional `client_uid` parameter:**  To select credentials for a specific client (PA/PDP, Chorus Pro, signing certificates), add `client_uid`:  ```bash curl -X POST https://factpulse.fr/api/token/ \\   -H \"Content-Type: application/json\" \\   -d '{     \"username\": \"your_email@example.com\",     \"password\": \"your_password\",     \"client_uid\": \"550e8400-e29b-41d4-a716-446655440000\"   }' ```  The `client_uid` will be included in the JWT and allow the API to automatically use: - AFNOR/PDP credentials configured for this client - Chorus Pro credentials configured for this client - Electronic signature certificates configured for this client  **Response:** ```json {   \"access\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\",  // Access token (validity: 30 min)   \"refresh\": \"eyJ0eXAiOiJKV1QiLCJhbGc...\"  // Refresh token (validity: 7 days) } ```  **Advantages:** - ✅ Full automation (CI/CD, scripts) - ✅ Programmatic token management - ✅ Refresh token support for automatic access renewal - ✅ Easy integration in any language/tool  #### 🖥️ Method 2: Dashboard Generation (Alternative)  **URL:** https://factpulse.fr/api/dashboard/  This method is suitable for quick tests or occasional use via the graphical interface.  **How it works:** - Log in to the dashboard - Use the \"Generate Test Token\" or \"Generate Production Token\" buttons - Works for **all** users (OAuth and email/password), without requiring a password  **Token types:** - **Test Token**: 24h validity, 1000 calls/day quota (free) - **Production Token**: 7 days validity, quota based on your plan  **Advantages:** - ✅ Quick for API testing - ✅ No password required - ✅ Simple visual interface  **Disadvantages:** - ❌ Requires manual action - ❌ No refresh token - ❌ Less suited for automation  ### 📚 Full Documentation  For more information on authentication and API usage: https://factpulse.fr/documentation-api/     

API version: 1.0.0
Contact: contact@factpulse.fr
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package github.com/factpulse/sdk-go

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// PDFXMLVerificationAPIService PDFXMLVerificationAPI service
type PDFXMLVerificationAPIService service

type ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetRequest struct {
	ctx context.Context
	ApiService *PDFXMLVerificationAPIService
	taskId string
}

func (r ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetRequest) Execute() (*AsyncTaskStatus, *http.Response, error) {
	return r.ApiService.GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetExecute(r)
}

/*
GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet Get status of an asynchronous verification

Retrieves the status and result of an asynchronous verification task.

**Possible statuses:**
- `PENDING`: Task waiting in queue
- `STARTED`: Task currently running
- `SUCCESS`: Task completed successfully (see `result`)
- `FAILURE`: System error (unhandled exception)

**Note:** The `result.status` field can be "SUCCESS" or "ERROR"
independently of Celery status (which will always be SUCCESS if the task ran).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskId Celery task ID returned by /verify-async endpoint
 @return ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetRequest
*/
func (a *PDFXMLVerificationAPIService) GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet(ctx context.Context, taskId string) ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetRequest {
	return ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetRequest{
		ApiService: a,
		ctx: ctx,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return AsyncTaskStatus
func (a *PDFXMLVerificationAPIService) GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetExecute(r ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGetRequest) (*AsyncTaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncTaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFXMLVerificationAPIService.GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/verification/verify-async/{task_id}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Request struct {
	ctx context.Context
	ApiService *PDFXMLVerificationAPIService
	taskId string
}

func (r ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Request) Execute() (*AsyncTaskStatus, *http.Response, error) {
	return r.ApiService.GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_1Execute(r)
}

/*
GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0 Get status of an asynchronous verification

Retrieves the status and result of an asynchronous verification task.

**Possible statuses:**
- `PENDING`: Task waiting in queue
- `STARTED`: Task currently running
- `SUCCESS`: Task completed successfully (see `result`)
- `FAILURE`: System error (unhandled exception)

**Note:** The `result.status` field can be "SUCCESS" or "ERROR"
independently of Celery status (which will always be SUCCESS if the task ran).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskId Celery task ID returned by /verify-async endpoint
 @return ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Request
*/
func (a *PDFXMLVerificationAPIService) GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_1(ctx context.Context, taskId string) ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Request {
	return ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Request{
		ApiService: a,
		ctx: ctx,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return AsyncTaskStatus
func (a *PDFXMLVerificationAPIService) GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_1Execute(r ApiGetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_0Request) (*AsyncTaskStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncTaskStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFXMLVerificationAPIService.GetVerificationStatusApiV1VerificationVerifyAsyncTaskIdStatusGet_1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/verification/verify-async/{task_id}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"task_id"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest struct {
	ctx context.Context
	ApiService *PDFXMLVerificationAPIService
	pdfFile *os.File
	forceOcr *bool
	callbackUrl *string
	webhookMode *string
}

// Factur-X PDF file to verify
func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest) PdfFile(pdfFile *os.File) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest {
	r.pdfFile = pdfFile
	return r
}

// Force OCR usage even if PDF contains native text
func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest) ForceOcr(forceOcr bool) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest {
	r.forceOcr = &forceOcr
	return r
}

func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest) CallbackUrl(callbackUrl string) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest {
	r.callbackUrl = &callbackUrl
	return r
}

// Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL)
func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest) WebhookMode(webhookMode string) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest {
	r.webhookMode = &webhookMode
	return r
}

func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.VerifyPdfAsyncApiV1VerificationVerifyAsyncPostExecute(r)
}

/*
VerifyPdfAsyncApiV1VerificationVerifyAsyncPost Verify PDF/XML Factur-X compliance (asynchronous)

Verifies PDF/XML Factur-X compliance asynchronously.

**IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted.
PDFs without Factur-X XML will return a `NOT_FACTURX` error in the result.

This version uses a Celery task and can call the OCR service
if the PDF is an image or if `force_ocr=true`.

**Returns immediately** a task ID. Use `/verify-async/{task_id}/status`
to retrieve the result.

**Verification principle (Factur-X 1.08):**
- Principle #2: XML can only contain info present in the PDF
- Principle #4: All XML info must be present and compliant in the PDF

**Verified fields:**
- Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework)
- Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT)
- Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT)
- Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due)
- VAT breakdown: BT-116, BT-117, BT-118, BT-119
- Invoice lines: BT-153, BT-129, BT-146, BT-131
- Mandatory notes: PMT, PMD, AAB
- Rule BR-FR-09: SIRET/SIREN consistency

**Advantages over synchronous version:**
- OCR support for image PDFs (via DocTR service)
- Longer timeout for large documents
- Doesn't block the server

## Webhook notification (recommended)

Instead of polling, you can receive a webhook notification when verification completes:

```
callback_url=https://your-server.com/webhook
```

The webhook will POST a JSON payload with:
- `event_type`: `verification.completed` or `verification.failed`
- `data.is_compliant`: Whether the PDF/XML are consistent
- `data.compliance_score`: Compliance score (0-1)
- `X-Webhook-Signature` header for HMAC verification

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest
*/
func (a *PDFXMLVerificationAPIService) VerifyPdfAsyncApiV1VerificationVerifyAsyncPost(ctx context.Context) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest {
	return ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *PDFXMLVerificationAPIService) VerifyPdfAsyncApiV1VerificationVerifyAsyncPostExecute(r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPostRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFXMLVerificationAPIService.VerifyPdfAsyncApiV1VerificationVerifyAsyncPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/verification/verify-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.forceOcr != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "force_ocr", r.forceOcr, "", "")
	}
	if r.callbackUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "callback_url", r.callbackUrl, "", "")
	}
	if r.webhookMode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "webhook_mode", r.webhookMode, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request struct {
	ctx context.Context
	ApiService *PDFXMLVerificationAPIService
	pdfFile *os.File
	forceOcr *bool
	callbackUrl *string
	webhookMode *string
}

// Factur-X PDF file to verify
func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request) PdfFile(pdfFile *os.File) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request {
	r.pdfFile = pdfFile
	return r
}

// Force OCR usage even if PDF contains native text
func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request) ForceOcr(forceOcr bool) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request {
	r.forceOcr = &forceOcr
	return r
}

func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request) CallbackUrl(callbackUrl string) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request {
	r.callbackUrl = &callbackUrl
	return r
}

// Webhook content delivery: &#39;inline&#39; (base64 in payload) or &#39;download_url&#39; (temporary URL, 1h TTL)
func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request) WebhookMode(webhookMode string) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request {
	r.webhookMode = &webhookMode
	return r
}

func (r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_2Execute(r)
}

/*
VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0 Verify PDF/XML Factur-X compliance (asynchronous)

Verifies PDF/XML Factur-X compliance asynchronously.

**IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted.
PDFs without Factur-X XML will return a `NOT_FACTURX` error in the result.

This version uses a Celery task and can call the OCR service
if the PDF is an image or if `force_ocr=true`.

**Returns immediately** a task ID. Use `/verify-async/{task_id}/status`
to retrieve the result.

**Verification principle (Factur-X 1.08):**
- Principle #2: XML can only contain info present in the PDF
- Principle #4: All XML info must be present and compliant in the PDF

**Verified fields:**
- Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework)
- Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT)
- Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT)
- Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due)
- VAT breakdown: BT-116, BT-117, BT-118, BT-119
- Invoice lines: BT-153, BT-129, BT-146, BT-131
- Mandatory notes: PMT, PMD, AAB
- Rule BR-FR-09: SIRET/SIREN consistency

**Advantages over synchronous version:**
- OCR support for image PDFs (via DocTR service)
- Longer timeout for large documents
- Doesn't block the server

## Webhook notification (recommended)

Instead of polling, you can receive a webhook notification when verification completes:

```
callback_url=https://your-server.com/webhook
```

The webhook will POST a JSON payload with:
- `event_type`: `verification.completed` or `verification.failed`
- `data.is_compliant`: Whether the PDF/XML are consistent
- `data.compliance_score`: Compliance score (0-1)
- `X-Webhook-Signature` header for HMAC verification

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request
*/
func (a *PDFXMLVerificationAPIService) VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_2(ctx context.Context) ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request {
	return ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *PDFXMLVerificationAPIService) VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_2Execute(r ApiVerifyPdfAsyncApiV1VerificationVerifyAsyncPost_0Request) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFXMLVerificationAPIService.VerifyPdfAsyncApiV1VerificationVerifyAsyncPost_2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/verification/verify-async"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	if r.forceOcr != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "force_ocr", r.forceOcr, "", "")
	}
	if r.callbackUrl != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "callback_url", r.callbackUrl, "", "")
	}
	if r.webhookMode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "webhook_mode", r.webhookMode, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest struct {
	ctx context.Context
	ApiService *PDFXMLVerificationAPIService
	pdfFile *os.File
}

// Factur-X PDF file to verify
func (r ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest) PdfFile(pdfFile *os.File) ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest {
	r.pdfFile = pdfFile
	return r
}

func (r ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest) Execute() (*VerificationSuccessResponse, *http.Response, error) {
	return r.ApiService.VerifyPdfSyncApiV1VerificationVerifyPostExecute(r)
}

/*
VerifyPdfSyncApiV1VerificationVerifyPost Verify PDF/XML Factur-X compliance (synchronous)

Verifies compliance between the PDF and its embedded Factur-X XML.

**IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted.
PDFs without Factur-X XML will be rejected with a 400 error.

This synchronous version uses only native PDF extraction (pdfplumber).
For image PDFs requiring OCR, use the `/verify-async` endpoint.

**Verification principle (Factur-X 1.08):**
- Principle #2: XML can only contain info present in the PDF
- Principle #4: All XML info must be present and compliant in the PDF

**Verified fields:**
- Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework)
- Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT)
- Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT)
- Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due)
- VAT breakdown: BT-116, BT-117, BT-118, BT-119
- Invoice lines: BT-153, BT-129, BT-146, BT-131
- Mandatory notes: PMT, PMD, AAB
- Rule BR-FR-09: SIRET/SIREN consistency

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest
*/
func (a *PDFXMLVerificationAPIService) VerifyPdfSyncApiV1VerificationVerifyPost(ctx context.Context) ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest {
	return ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VerificationSuccessResponse
func (a *PDFXMLVerificationAPIService) VerifyPdfSyncApiV1VerificationVerifyPostExecute(r ApiVerifyPdfSyncApiV1VerificationVerifyPostRequest) (*VerificationSuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerificationSuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFXMLVerificationAPIService.VerifyPdfSyncApiV1VerificationVerifyPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/verification/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request struct {
	ctx context.Context
	ApiService *PDFXMLVerificationAPIService
	pdfFile *os.File
}

// Factur-X PDF file to verify
func (r ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request) PdfFile(pdfFile *os.File) ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request {
	r.pdfFile = pdfFile
	return r
}

func (r ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request) Execute() (*VerificationSuccessResponse, *http.Response, error) {
	return r.ApiService.VerifyPdfSyncApiV1VerificationVerifyPost_3Execute(r)
}

/*
VerifyPdfSyncApiV1VerificationVerifyPost_0 Verify PDF/XML Factur-X compliance (synchronous)

Verifies compliance between the PDF and its embedded Factur-X XML.

**IMPORTANT**: Only Factur-X PDFs (with embedded XML) are accepted.
PDFs without Factur-X XML will be rejected with a 400 error.

This synchronous version uses only native PDF extraction (pdfplumber).
For image PDFs requiring OCR, use the `/verify-async` endpoint.

**Verification principle (Factur-X 1.08):**
- Principle #2: XML can only contain info present in the PDF
- Principle #4: All XML info must be present and compliant in the PDF

**Verified fields:**
- Identification: BT-1 (invoice #), BT-2 (date), BT-3 (type), BT-5 (currency), BT-23 (framework)
- Seller: BT-27 (name), BT-29 (SIRET), BT-30 (SIREN), BT-31 (VAT)
- Buyer: BT-44 (name), BT-46 (SIRET), BT-47 (SIREN), BT-48 (VAT)
- Amounts: BT-109 (excl. tax), BT-110 (VAT), BT-112 (incl. tax), BT-115 (amount due)
- VAT breakdown: BT-116, BT-117, BT-118, BT-119
- Invoice lines: BT-153, BT-129, BT-146, BT-131
- Mandatory notes: PMT, PMD, AAB
- Rule BR-FR-09: SIRET/SIREN consistency

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request
*/
func (a *PDFXMLVerificationAPIService) VerifyPdfSyncApiV1VerificationVerifyPost_3(ctx context.Context) ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request {
	return ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VerificationSuccessResponse
func (a *PDFXMLVerificationAPIService) VerifyPdfSyncApiV1VerificationVerifyPost_3Execute(r ApiVerifyPdfSyncApiV1VerificationVerifyPost_0Request) (*VerificationSuccessResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VerificationSuccessResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PDFXMLVerificationAPIService.VerifyPdfSyncApiV1VerificationVerifyPost_3")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/verification/verify"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pdfFile == nil {
		return localVarReturnValue, nil, reportError("pdfFile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var pdfFileLocalVarFormFileName string
	var pdfFileLocalVarFileName     string
	var pdfFileLocalVarFileBytes    []byte

	pdfFileLocalVarFormFileName = "pdf_file"
	pdfFileLocalVarFile := r.pdfFile

	if pdfFileLocalVarFile != nil {
		fbs, _ := io.ReadAll(pdfFileLocalVarFile)

		pdfFileLocalVarFileBytes = fbs
		pdfFileLocalVarFileName = pdfFileLocalVarFile.Name()
		pdfFileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: pdfFileLocalVarFileBytes, fileName: pdfFileLocalVarFileName, formFileName: pdfFileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v APIError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
